{% if current_page == 'landing' %}

	<script type="text/javascript">
		var view		=	's';
		var aid			=	{% if request.args.get("aid") %} '{{ request.args.get("aid") }}' {% else %} null {% endif %}; // aid could be assessment id or question of the day slug
		var load		=	true;
		var type		=	{% if request.args.get("type") %} '{{ request.args.get("type") }}' {% else %} null {% endif %}; // type could be assessment or question


	</script>

{% elif current_page == 'profile'  %}

	<script type="text/javascript">
		var view		=	's';
		var aid			=	null;
		var load		=	false;
		var type		=	null;
	</script>

{% else %}

	<script type="text/javascript">
		var view		=	's';
		var aid			=	null;
		var load		=	true;
		var type		=	null;
	</script>


{% endif %}
<script>
	var base        ='app.myparichay.in/engine/';
	var tracesource ='https://myparichay.testvita.com';
	var localsource ='https://app.myparichay.in';
</script>
<script src="https://app.myparichay.in/engine/webroot/scripts/jquery.ba-postmessage.min.js" type="text/javascript"></script>
<script src="https://app.myparichay.in/engine/webroot/scripts/as_script-28122012.js" type="text/javascript"></script>


