<nav class="" role="navigation">
    <a href="https://www.myparichay.in/website/company/about-us/" target="_blank">About</a>
    <a href="https://www.myparichay.in/website/company/contact-us/" target="_blank">Contact</a>
    <a href="https://www.myparichay.in/website/privacy-policy/" target="_blank">Privacy Policy</a>
    <a href="https://www.myparichay.in/website/terms-of-service/" target="_blank">Terms of Use</a>
</nav>