<div style='text-align: center; clear: both; height: 75px;' id="oldbrowser">
	<div style='font-family: courier new; font-weight: bold; float:right; margin:5px 5px 0 0'>
		<a href='#'  class="oldbrowser-sprite oldbrowser-cornerx"></a>
	</div>
	<div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
		<div class="oldbrowser-imgblock oldbrowser-sprite oldbrowser-warning"></div>
		<div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
			<div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>
				You are using an outdated browser
			</div>
			<div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>
				For a better experience using this site, please upgrade to a modern web browser.
			</div>
		</div>
		<div class="oldbrowser-imgblock">
			<a href='http://www.firefox.com' target='_blank' title='Get Firefox' class="oldbrowser-sprite oldbrowser-firefox" ></a>
		</div>
		<div class="oldbrowser-imgblock">
			<a href='http://www.browserforthebetter.com/download.html' target='_blank' title='Get Internet Explorer' class="oldbrowser-sprite oldbrowser-ie" ></a>
		</div>
		<div class="oldbrowser-imgblock">
			<a href='http://www.apple.com/safari/download/' target='_blank' title='Get Safari' class="oldbrowser-sprite oldbrowser-safari"></a>
		</div>
		<div class="oldbrowser-imgblock">
			<a href='http://www.google.com/chrome' target='_blank' title='Get Google Chrome' class="oldbrowser-sprite oldbrowser-chrome"></a>
		</div>
	</div>
</div>