{% import 'elements/macros.jinja' as html %}

{% block search_result_block %}{% endblock search_result_block %}
<div class="well well-small box-bot-links">
    <div class="pull-right"><a href="/jobs/recommended/0" role="link" class="link">View All</a></div>
</div>
