{% extends "layout/defaultlayout.jinja" %}



{% block screen_name %}
  <div class="navbar-brand " href=""><img class="header_image_icon" src="/static/img/help-big.png">Help Guide</div>
{% endblock screen_name %}


{% block main_content %}

<div id="help" class="col-md-8">


      <table id="help-table" class="table clickable-table table-hover">
              <tbody data-link="row" class="rowlink">
                

                      <tr>
                        <td>

                        <a class="help_link" href="#">1. Preparing for your first pickup </a>
                        <a class="help_content" href="#"> Gather your items in laundry bags, separating laundry from dry cleaning clothes. Our agent will arrive with reusable bags and pick them. If your items are in laundry bags you own, we will place the clothes into the MyWash laundry Bags for you. Please let our agent know about any special requests you might have regarding detergent, treatment, damaged items etc. 
						 </a>


                        </td>
                      </tr>


                      <tr>
                        <td>

                        <a class="help_link" href="#">2. Do I need to separate my laundry?</a>
                        <a class="help_content" href="#">You do not need to separate your laundry. If you have special instructions for certain items in your wash and fold bag, you can add them to the special notes section of your order and we will process them according to your directions. The normal laundry and dry wash items will be separated by our agent.
						 </a>


                        </td>
                      </tr>


                        <tr>
                        <td>

                        <a class="help_link" href="#">3. Will the agent need to come inside the house?</a>
                        <a class="help_content" href="#">The agent will not go inside the house under normal circumstances. MyWash management discourages and orders the agents the same. Only in the special cases where pickup or delivery is not possible without entering the house the agent will step inside the house that too with the proper consent and permission of the customer.
						 </a>


                        </td>
                      </tr>


                      <tr>
                        <td>

                        <a class="help_link" href="#">4. Do I need to separate my laundry from my dry cleaning?</a>
                        <a class="help_content" href="#">When ordering your first MyWash pickup, we recommend separating your laundry from your dry cleaning. Upon arrival, our agent will bring you reusable bags. You can transfer your items into the bags or have the agent do it for you, depending on your preference. 
						 </a>


                        </td>
                      </tr>


                      <tr>
                        <td>

                        <a class="help_link" href="#">5. Contact us</a>
                        <a class="help_content" href="#">Questions, changes, compliments and concerns can all be directed to support@mywash.com. We promise one of our support agents or founder will get back to you in two shakes of a lamb's tail.
						 </a>


                        </td>
                      </tr>



                      <tr>
                        <td>

                        <a class="help_link" href="#">6. Scheduling a Pickup</a>
                        <a class="help_content" href="#">Schedule a pickup in just a few clicks via the order form on our website. Our agent will arrive in the time window selected by you. In the event he is delayed by unforeseen circumstances we will update you before hand.
						 </a>


                        </td>
                      </tr>


                      <tr>
                        <td>

                        <a class="help_link" href="#">7. What we do</a>
                        <a class="help_content" href="#">Well, to simplify it we make your life easier one load of laundry at a time. MyWash offers premier services, pickup, delivery and a speedy turnaround on every order, all for the same price as your regular laundry service.
						 </a>


                        </td>
                      </tr>


                      <tr>
                        <td>

                        <a class="help_link" href="#">8. Do I need to tup the agent?</a>
                        <a class="help_content" href="#">No need to search your pockets for a tip, we take good care of our agents.
						 </a>


                        </td>
                      </tr>


                      <tr>
                        <td>

                        <a class="help_link" href="#">9. Pricing?</a>
                        <a class="help_content" href="#">Unlike regular laundromats, your jaw will fall to the floor with cartoonish surprise when you will see the MyWash prices. Not only do we offer market standard pricing, but we post all of our prices here, what you see is what you get on MyWash.in.
						 </a>


                        </td>
                      </tr>


                      <tr>
                        <td>

                        <a class="help_link" href="#">10. Minimum order?</a>
                        <a class="help_content" href="#">In order to continue to bring you the best possible service, MyWash enforces a minimum order of 200 Rs. All orders under 200 Rs will be subject to a 50 Rs additional charge in order to mitigate the costs for pickup and delivery.
						 </a>


                        </td>
                      </tr>




                      <tr>
                        <td>

                        <a class="help_link" href="#">11. Payment</a>
                        <a class="help_content" href="#">We accept only cash for now. We advise you to keep the change so that our agent work is done smoothly. We will introduce online payment very soon.
						 </a>


                        </td>
                      </tr>


                      <tr>
                        <td>

                        <a class="help_link" href="#">12. Special care for special clothes?</a>
                        <a class="help_content" href="#">Laundry need special care? No issue. Whether it's a cold wash or a special detergent, we got it covered. Just add it to the special care notes on your order form or tell our agent during the pickup. 
						 </a>


                        </td>
                      </tr>




                      <tr>
                        <td>

                        <a class="help_link" href="#">13. Do I get to keep my bags?</a>
                        <a class="help_content" href="#">You sure do. About 700 million plastic dry cleaning bags a year enter landfills. MyWash wants to help cut that number down by providing our customers with reusable bags for their laundry and dry cleaning.
						 </a>


                        </td>
                      </tr>




                      <tr>
                        <td>

                        <a class="help_link" href="#">14. Where do you do the laundry?</a>
                        <a class="help_content" href="#">We deliver and process the laundry and drycleaning in top-notch MyWash facilities, we have built in Bangalore.
						 </a>


                        </td>
                      </tr>



                      <tr>
                        <td>

                        <a class="help_link" href="#">15. Rescheduling a pickup or delivery</a>
                        <a class="help_content" href="#">Miss your appointment or simply have to change the time of an existing appointment? Contact support@mywash.com with your desired new time and we'll do our best to make it happen. Additionally, you can do the same on the website.


						 </a>


                        </td>
                      </tr>



                      <tr>
                        <td>

                        <a class="help_link" href="#">16. Do you offer special detergent?</a>
                        <a class="help_content" href="#">We offer free & clear detergent, a scentless, dye free detergent for sensitive and/or allergy prone skin.
						 </a>


                        </td>
                      </tr>



                      <tr>
                        <td>

                        <a class="help_link" href="#">17. How do you handle special instructions?</a>
                        <a class="help_content" href="#">Note your laundry specifications in the "special notes" part of your order form and we'll handle it.  You can also explain it to our agent during pickup. Want your jeans dried on low? Not a problem. Need bleach? Done. Delicates washed in cold water? No issue. Whatever it is, make a note and we'll treat the item according to your wish. Your wish is our command.
						 </a>


                        </td>
                      </tr>




          
                   
              </tbody>
            </table>




{% endblock main_content %}