{% extends "layout/defaultlayout.jinja" %}



{% block screen_name %}
  <div class="navbar-brand " href=""><img class="header_image_icon" src="/static/img/help-big.png">Help </div>
{% endblock screen_name %}


{% block main_content %}

<div id="help" class="col-md-8">


      <table id="help-table" class="table clickable-table table-hover">
              <tbody data-link="row" class="rowlink">
                

                      <tr>
                        <td>

                        <a class="support_link" href="/faq">FAQ </a>
                        


                        </td>
                      </tr>


                      <tr>
                        <td>

                        <a class="support_link padding-bottom" href="#">Customer Support</a>
                     <a class="email-id-support " href="#">Phone: 080-39591212 (8am-10pm)</a>
                     <a class="email-id-support "  href="mailto:team@mywash.in">Email: support@mywash.com</a>


                        </td>
                      </tr>



                      <tr>
                        <td>

                        <a class="support_link" href="/terms">Terms of service</a>
                    

                        </td>
                      </tr>

                       <tr>
                        <td>

                        <a class="support_link" href="/privacy">Privacy Policy</a>
                    

                        </td>
                      </tr>


                    



          
                   
              </tbody>
            </table>




{% endblock main_content %}
