{% extends "layout/defaultlayout.jinja" %}



{% block screen_name %}
   Test Page
{% endblock screen_name %}


{% block main_content %}

<div class="col-md-8">


    <section class="fade-in">
        <span class="hero hero-location-unavailable"></span>
        <h3>Sorry! We don’t service that area yet...!</h3>
        <a id="ember878" class="ember-view" href="/settings/payments/add">
        </a>
    </section>

</div>


{% endblock main_content %}