<div class=" container js-row-each padding-muted">
    <div class="panel panel-default">
        <div class="panel-body">
            <a data-toggle="modal" href="#modal" data-remote="/popup/partnerpopup?name={{ partner.display_name }}&img={{ partner.popupbanner }}&apply_url={{ partner.apply_url }}">
                <img src="{{ partner.headerimg if partner }}" title="Partnered With MyParichay" width="100%" />
            </a>
        </div>
    </div>
</div>
