
{% for x in skills %}
	{% set skill = skills[x] %}
		<li class="js-row-each">
            {% if location == 'home' %}
                 {% include 'profile/skill/skillbutton.jinja' %}
            {% else %}
			     {% include 'profile/skill/view.jinja' %}
            {% endif %}
		</li>
{% endfor %}