{% extends "layout/defaultlayout.jinja" %}




{% block screen_name %}
  <div class="navbar-brand " href=""></div>
{% endblock screen_name %}


{% block main_content %}

    <div class="col-md-8 order-page" id="ratings">


        <div id="applyCoupon" class="col-md-8">

        <div id="coupon-hero">

          <div class="emotion">
            <span class="icon-smiley-2"></span>
            <h3>Our engineers were busy washing your clothes. We sent a team of highly trained monkeys to deal with this situation.</h3>
            <a href="/order_schedule" class="error_button">Schedule a Wash</a>
          </div>
</div>


        </div>  
      
    </div>

{% endblock main_content %}