getUserAgent: {{ UAgentInfo.getUserAgent() }} <br />
getIsIphone: {{ UAgentInfo.getIsIphone() }} <br />
getIsTierTablet: {{ UAgentInfo.getIsTierTablet() }} <br />
getIsTierIphone: {{ UAgentInfo.getIsTierIphone() }} <br />
getIsTierRichCss: {{ UAgentInfo.getIsTierRichCss() }} <br />
getIsTierGenericMobile: {{ UAgentInfo.getIsTierGenericMobile() }} <br />
detectIphone: {{ UAgentInfo.detectIphone() }} <br />
detectIpod: {{ UAgentInfo.detectIpod() }} <br />
detectIpad: {{ UAgentInfo.detectIpad() }} <br />
detectIphoneOrIpod: {{ UAgentInfo.detectIphoneOrIpod() }} <br />
detectIos: {{ UAgentInfo.detectIos() }} <br />
detectAndroid: {{ UAgentInfo.detectAndroid() }} <br />
detectAndroidPhone: {{ UAgentInfo.detectAndroidPhone() }} <br />
detectAndroidTablet: {{ UAgentInfo.detectAndroidTablet() }} <br />
detectAndroidWebKit: {{ UAgentInfo.detectAndroidWebKit() }} <br />
detectGoogleTV: {{ UAgentInfo.detectGoogleTV() }} <br />
detectWebkit: {{ UAgentInfo.detectWebkit() }} <br />
detectWindowsPhone: {{ UAgentInfo.detectWindowsPhone() }} <br />
detectWindowsPhone7: {{ UAgentInfo.detectWindowsPhone7() }} <br />
detectWindowsPhone8: {{ UAgentInfo.detectWindowsPhone8() }} <br />
detectWindowsMobile: {{ UAgentInfo.detectWindowsMobile() }} <br />
detectBlackBerry: {{ UAgentInfo.detectBlackBerry() }} <br />
detectBlackBerry10Phone: {{ UAgentInfo.detectBlackBerry10Phone() }} <br />
detectBlackBerryTablet: {{ UAgentInfo.detectBlackBerryTablet() }} <br />
detectBlackBerryWebKit: {{ UAgentInfo.detectBlackBerryWebKit() }} <br />
detectBlackBerryTouch: {{ UAgentInfo.detectBlackBerryTouch() }} <br />
<!--
detectBlackBerryHigh: {{ UAgentInfo.detectBlackBerryHigh() }} <br />
detectBlackBerryLow: {{ UAgentInfo.detectBlackBerryLow() }} <br />
detectS60OssBrowser: {{ UAgentInfo.detectS60OssBrowser() }} <br />
detectSymbianOS: {{ UAgentInfo.detectSymbianOS() }} <br />
detectPalmOS: {{ UAgentInfo.detectPalmOS() }} <br />
detectPalmWebOS: {{ UAgentInfo.detectPalmWebOS() }} <br />
detectWebOSTablet: {{ UAgentInfo.detectWebOSTablet() }} <br />
-->
detectOperaMobile: {{ UAgentInfo.detectOperaMobile() }} <br />
detectOperaAndroidPhone: {{ UAgentInfo.detectOperaAndroidPhone() }} <br />
detectOperaAndroidTablet: {{ UAgentInfo.detectOperaAndroidTablet() }} <br />
<!--
detectKindle: {{ UAgentInfo.detectKindle() }} <br />
detectAmazonSilk: {{ UAgentInfo.detectAmazonSilk() }} <br />
detectGarminNuvifone: {{ UAgentInfo.detectGarminNuvifone() }} <br />
detectBada: {{ UAgentInfo.detectBada() }} <br />
detectTizen: {{ UAgentInfo.detectTizen() }} <br />
detectMeego: {{ UAgentInfo.detectMeego() }} <br />
detectDangerHiptop: {{ UAgentInfo.detectDangerHiptop() }} <br />
detectSonyMylo: {{ UAgentInfo.detectSonyMylo() }} <br />
detectMaemoTablet: {{ UAgentInfo.detectMaemoTablet() }} <br />
detectArchos: {{ UAgentInfo.detectArchos() }} <br />
detectGameConsole: {{ UAgentInfo.detectGameConsole() }} <br />
detectSonyPlaystation: {{ UAgentInfo.detectSonyPlaystation() }} <br />
detectGamingHandheld: {{ UAgentInfo.detectGamingHandheld() }} <br />
detectNintendo: {{ UAgentInfo.detectNintendo() }} <br />
detectXbox: {{ UAgentInfo.detectXbox() }} <br />
detectBrewDevice: {{ UAgentInfo.detectBrewDevice() }} <br />
detectWapWml: {{ UAgentInfo.detectWapWml() }} <br />
detectMidpCapable: {{ UAgentInfo.detectMidpCapable() }} <br />
-->
detectSmartphone: {{ UAgentInfo.detectSmartphone() }} <br />
detectMobileQuick: {{ UAgentInfo.detectMobileQuick() }} <br />
detectMobileLong: {{ UAgentInfo.detectMobileLong() }} <br />
detectTierTablet: {{ UAgentInfo.detectTierTablet() }} <br />
detectTierIphone: {{ UAgentInfo.detectTierIphone() }} <br />
detectTierRichCss: {{ UAgentInfo.detectTierRichCss() }} <br />
detectTierOtherPhones: {{ UAgentInfo.detectTierOtherPhones() }} <br />