{% raw %}
<div class="row no-print" id='package-orders'>
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="row">
                    <div class="col-md-10 col-xs-10 col-sm-10">
                        Packaging/ Invoicing
                    </div>
                    <div class="col-md-2 col-xs-2 col-sm-2">
                        Total: {{rowCount}}
                    </div>
                </div>
            </header>
            <div class="panel-body">
                <div class="col-md-10">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-filter"></i> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li can-click="selectSearchOption" data-option="name">
                                    <a href="javascript:void(0)"><i class="fa fa-user"></i> Name</a>
                                </li>
                                <li can-click="selectSearchOption" data-option="email">
                                    <a href="javascript:void(0)">@ Email</a>
                                </li>
                                <li can-click="selectSearchOption" data-option="phone">
                                    <a href="javascript:void(0)"><i class="fa fa-phone"></i> Phone</a>
                                </li>
                                <li can-click="selectSearchOption" data-option="oid">
                                    <a href="javascript:void(0)"># </i> Order Id</a>
                                </li>
                            </ul>
                        </div>
                        <input type="text" placeholder="Search Here (example- email:xyz or name:xyz)" class="form-control search-input" style="z-index:0" can-keyup="captureEnterKey">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-search-go" can-click="searchOrders"> Go!</button>
                            <button class="btn btn-warning btn-refresh" type="button" can-click="orderRefresh" title="Refresh">
                            <i class="fa fa-refresh"></i>
                        </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2" align="right">
                    <div class="btn-group">
                        <button class="btn btn-primary" type="button" can-click="showInvoice">
                            Print Invoice
                        </button>
                    </div>
                </div>
            </div>


            <table class="table table-striped table-advance table-hover">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-default btn-xs" can-click="toggleRowCheck"><i class="fa fa-check check-all"></i></button>
                        </th>
                        <th><i class="fa fa-user"></i> Name</th>
                        <th># Order Id</th>
                        <th>Racks</th>
                        <th><i class="fa fa-calendar"></i> Delivery date</th>
                        <th><i class="fa fa-inr"></i> Cost</th>
                        <th><i class=" fa fa-edit"></i> Status</th>
                        <th><i class=" fa fa-file"></i> Invoice status</th>
                        <th><i class=" fa fa-building-o"></i> Hub</th>
                    </tr>
                </thead>
                <tbody>
                {{#each orderData}}
                    <tr index="{{order_id}}" style="cursor: pointer">
                        <td>
                            <button class="btn btn-default btn-xs package-checkbox" can-click="toggleRowCheck"><i class="fa fa-check"></i></button>
                        </td>
                        <td><a class="openOrderModal" href="#">{{#if user_info.name}}{{#capitalize user_info.name }}{{/capitalize}}{{else}}&lt;NO-NAME&gt;{{/if}}</a></td>
                        <td>
                            {{#if real_order_id}}
                                {{real_order_id}}
                            {{else}}
                                <span style="font-weight:bold; font-size:16px;">-</span>
                            {{/if}}
                        </td>
                        <td>
                        {{#isNotEmpty racks}}
                            {{#if racks.laundry}}
                                {{#each racks.laundry}}
                                    <span class="label label-info label-mini" title="Laundry">{{.}}</span>
                                {{/each}}
                            {{/if}}
                            {{#if racks.dryclean}}
                                {{#each racks.dryclean}}
                                    <span class="label label-success label-mini" title="Dryclean">{{.}}</span>
                                {{/each}}
                            {{/if}}
                            {{#if racks.iron}}
                                {{#each racks.iron}}
                                    <span class="label label-primary label-mini" title="Iron">{{.}}</span>
                                {{/each}}
                            {{/if}}
                        {{else}}
                            <b>-</b>
                        {{/if}}
                        </td>
                        <td>{{delivery_date}}</td>
                        <td>{{total_price}}</td>
                        <td>
                            <span class="label label-{{status_color}} label-mini">
                                {{#capitalize status}}{{/capitalize}}
                            </span>
                        </td>
                        <td>
                        {{#if invoice_printed}}
                            <span class="label label-success label-mini">Printed</span>
                        {{else}}
                            <span class="label label-danger label-mini">Not printed</span>
                        {{/if}}
                        </td>
                        <td>
                            <span class="label label-primary label-mini" title="{{#if hub}}{{hub.name}}{{else}}Anepalya{{/if}}">
                                {{#if hub}}{{hub.short}}{{else}}ANY{{/if}}
                            </span>
                        </td>
                    </tr>
                {{/each}}
                {{#isEmpty orderData}}
                    <tr>
                        <td colspan="9" style="text-align:center;">Oops... no data found!!!</td>
                    </tr>
                {{/isEmpty}}
                </tbody>
            </table>
            <div class="panel-body block-load-more">
                <div class="row col-lg-12 load-more" style="text-align:center">
                    <button class="btn btn-primary btn-block" can-click="loadMoreRows" data-loading=""><i class="fa fa-repeat"></i></button>
                </div>
            </div>
        </section>
    </div>
</div>

{{! --------------------------- PRICES MODAL --------------------------------- }}
<div class="modal fade modal-wide" id="package-order-details-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-4">
                        <h4 class="modal-title">{{#capitalize modalCustomerDetails.data.user.name}}{{/capitalize}}</h4>
                    </div>
                    <div class="col-lg-4">
                        <div class="btn-row tab-buttons" align="center">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary btn-sm" can-click="tabchange">
                                    <input type="radio" name="options" id="option1" href="#package-modal-quantity"> Quantity
                                </label>
                                <label class="btn btn-primary btn-sm" can-click="tabchange">
                                    <input type="radio" name="options" id="option1" href="#package-modal-details"> Details
                                </label>
                                <label class="btn btn-primary btn-sm" can-click="tabchange">
                                    <input type="radio" name="options" id="option1" href="#package-modal-others"> Others
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" align="right">
                        <button type="button" class="btn btn-primary btn-sm" can-click="saveOrderChanges" data-loading-text="Saving">Save</button>
                        <button data-dismiss="modal" class="btn btn-primary btn-sm" type="button" can-click="closeModal">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                
            </div>
            <div class="modal-body" style="height: 400px;">
                <div id="package-modal-quantity">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Laundry</th>
                                <th>Dryclean</th>
                                <th>Iron</th>
                                <th><i class="fa fa-inr"></i> Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                        {{#each cleaningItems}}
                            <tr item-index="{{@index}}">
                                <td>{{title}}</td>
                                <td>
                                    <div class="input-group input-group-sm laundry-quantity">
                                        <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" style="width:50px;padding:0; padding-left:10px;" can-change="quantityChange" can-keyup="quantityChange" value="{{quantity.laundry}}" min="0" disabled="disabled">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm dryclean-quantity">
                                        <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" style="width:50px;padding:0; padding-left:10px;" can-change="quantityChange" can-keyup="quantityChange" value="{{quantity.dryclean}}" min="0" disabled="disabled">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm iron-quantity">
                                        <input type="number" class="form-control" placeholder="0" aria-describedby="sizing-addon3" style="width:50px;padding:0; padding-left:10px;" can-change="quantityChange" can-keyup="quantityChange" value="{{quantity.iron}}" disabled="disabled">
                                    </div>
                                </td>
                                <td class="item-cost">
                                    {{#isSet final_cost}}
                                        {{final_cost}}
                                    {{else}}
                                        0
                                    {{/isSet}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
                <div id="package-modal-details">
                    <div class="col-sm-6">
                        <section class="panel">
                            <div class="list-group">
                                <a href="javascript:void(0)" class="list-group-item">
                                    <h4 class="list-group-item-heading">Customer details</h4>
                                    <p class="list-group-item-text" id="modal-customer-name">
                                        Name- {{modalCustomerDetails.data.user.name}}<br>
                                        Phone- {{modalCustomerDetails.data.user.phone}}<br>
                                        Email- {{modalCustomerDetails.data.user.email}}<br>
                                        Created date- {{#getFormattedDateTime modalCustomerDetails.data.created_date}}{{/getFormattedDateTime}}<br>
                                        Wash types - 
                                        {{#each modalCustomerDetails.data.wash_type}}
                                        <span class="label label-mini
                                        {{#ifEqual . 'laundry'}}label-info{{/ifEqual}}
                                        {{#ifEqual . 'dryclean'}}label-primary{{/ifEqual}}
                                        {{#ifEqual . 'iron'}}label-success{{/ifEqual}}
                                        ">
                                            {{#capitalize .}}{{/capitalize}}
                                        </span>
                                        {{/each}}
                                    </p>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item">
                                    <h4 class="list-group-item-heading">Address</h4>
                                    <p class="list-group-item-text">
                                        {{modalCustomerDetails.data.address.apartment_number}},&nbsp;
                                        {{modalCustomerDetails.data.address.address_1}}<br>
                                        {{modalCustomerDetails.data.address.address_2}}<br>
                                        {{modalCustomerDetails.data.address.city}},&nbsp;
                                        {{modalCustomerDetails.data.address.state}}<br>
                                        {{#if modalCustomerDetails.data.address.pincode}}
                                            PIN- {{modalCustomerDetails.data.address.pincode}}
                                        {{/if}}
                                        Locality - {{modalCustomerDetails.data.address.locality.map_string}}
                                    </p>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item">
                                    <h4 class="list-group-item-heading">Pickup time</h4>
                                    <p class="list-group-item-text">
                                        <label>Date: </label> <span>{{#getFormattedDate modalCustomerDetails.data.schedules.pickup.schedule_date}}{{/getFormattedDate}}</span><br>
                                        <label>Time: </label> <span>{{modalCustomerDetails.data.schedules.pickup.schedule_time}}</span>
                                    </p>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item">
                                    <h4 class="list-group-item-heading">Delivery time</h4>
                                    <p class="list-group-item-text">
                                        <label>Date: </label> <span>{{#getFormattedDate modalCustomerDetails.data.schedules.delivery.schedule_date}}{{/getFormattedDate}}</span><br>
                                        <label>Time: </label><span>{{modalCustomerDetails.data.schedules.delivery.schedule_time}}</span>
                                    </p>
                                </a>
                                
                            </div>
                        </section>
                    </div>
                    <div class="order-remark col-sm-6">
                        <div class="summernote"></div>
                    </div>
                </div>

                <div id="package-modal-others">
                    <div>
                        {{! ------------ STATUS ---------------- }}
                        <section class="panel col-md-6">
                            <div class="panel-heading">
                                Order Status
                            </div>
                            <div class="panel-body">
                                <select class="form-control" can-change="changeOrderStatus">
                                    <option>Change Status</option>
                                    {{#each orderStatusHash}}
                                        <optgroup label="{{#capitalize group_name}}{{/capitalize}}" index="{{group_id}}">
                                            {{#each status}}
                                                <option value="{{name_id}}"
                                                {{#ifEqual modalCustomerDetails.data.status name_id}}
                                                selected="selected" 
                                                {{/ifEqual}}
                                                >{{#capitalize formal_name}}{{/capitalize}}</option>
                                            {{/each}}
                                        </optgroup>
                                    {{/each}}
                                </select>
                            </div>
                        </section>
                    </div>
                    <div>
                        <section class="panel col-md-12">
                            <div class="panel-heading">
                                Inventory Racks
                            </div>
                            <div class="panel-body">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Wash &amp; iron</span>
                                    </div>
                                    <input type="text" class="rack-laundry" placeholder="Add racks">
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Dryclean</span>
                                    </div>
                                    <input type="text" class="rack-dryclean" placeholder="Add racks">
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">Iron</span>
                                    </div>
                                    <input type="text" class="rack-iron" placeholder="Add racks">
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer" style="text-align:left">
               <div class="row">
                    {{! -------------- COUPON APPLIED -------------- }}
                    <div class="col-lg-3">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">Coupon</span>
                            <input type="text" disabled="disabled" class="form-control" value="{{modalCustomerDetails.data.coupon.name}}">
                        </div>
                    </div>

                    {{! -------------- MAX-DISCOUNT -------------- }}
                    <div class="col-lg-3">
                        <div class="input-group m-bot15" tooltip="Applicable only for percentage discount.">
                            <span class="input-group-addon">Max discount (<i class="fa fa-inr"></i>)</span>
                            <input type="number" class="form-control modal-discount-max-amount" placeholder="0" can-change="changeMaxDiscount" can-keyup="changeMaxDiscount" value="{{modalCustomerDetails.data.discount.max}}" min="0"
                            {{#if modalCustomerDetails.data.disable_discount_edit}}disabled="disabled"{{/if}}>
                        </div>
                    </div>

                    {{! -------------- DISCOUNT -------------- }}
                    <div class="col-lg-3">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">Discount</span>
                            <input type="number" class="form-control modal-discount-amount" placeholder="0" can-change="changeDiscount" can-keyup="changeDiscount" value="{{modalCustomerDetails.data.discount.amount}}" min="0"
                            {{#if modalCustomerDetails.data.disable_discount_edit}}disabled="disabled"{{/if}}>
                            {{#if modalCustomerDetails.data.disable_discount_edit}}
                            <span class="input-group-addon">
                                {{#if modalCustomerDetails.data.discount.percentage}}
                                    %
                                {{else}}
                                    <i class="fa fa-inr"></i>
                                {{/if}}
                            </span>
                            {{else}}
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {{#if modalCustomerDetails.data.discount.percentage}}
                                    %
                                {{else}}
                                    <i class="fa fa-inr"></i>
                                {{/if}}<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu modal-discount-type" role="menu">
                                    <li class="{{#ifNot modalCustomerDetails.data.discount.percentage}}active{{/if}}" can-click="applyDiscount">
                                        <a href="javascript:void(0)">INR (<i class="fa fa-inr"></i>)</a>
                                    </li>
                                    <li class="{{#if modalCustomerDetails.data.discount.percentage}}active{{/if}} modal-discount-percentage" can-click="applyDiscount">
                                        <a href="javascript:void(0)">Percent (%)</a>
                                    </li>
                                </ul>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                     {{! ------------ MINIMUM ORDER ---------------- }}
                    <div class="col-lg-3">
                        <div class="input-group m-bot15" tooltip="Applicable only for percentage discount.">
                            <span class="input-group-addon">Min Order(<i class="fa fa-inr"></i>)</span>
                            <input type="number" class="form-control modal-discount-min-order" placeholder="0" can-change="changeMinOrder" can-keyup="changeMinOrder" value="{{modalCustomerDetails.data.discount.min_order}}" min="0" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="row">
                    {{! -------------- CREDITS -------------- }}
                    <div class="col-lg-3">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">Credits used</span>
                            <input type="number" disabled class="form-control" placeholder="0" value="{{modalCustomerDetails.data.credits.used}}" min="0">
                        </div>
                    </div>

                    {{! ------------ TOTAL QUANTITY ---------------- }}
                    <div class="col-lg-3">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">Quantity</span>
                            <input type="text" disabled="disabled" class="form-control" value="{{getTotalQuantity}}" placeholder="0">
                        </div>
                    </div>
                    
                    {{! -------------- SUB-TOTAL -------------- }}
                    <div class="col-lg-3" style="font-size:16px; font-weight:bold;">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">Sub-total (<i class="fa fa-inr"></i>)</span>
                            <input type="text" disabled="disabled" class="form-control" value="{{allCosts.sub_total_cost}}" placeholder="0">
                        </div>
                    </div>

                    {{! -------------- SERVICE-TAX -------------- }}
                    <div class="col-lg-3" style="font-size:16px; font-weight:bold;">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">Service tax (<i class="fa fa-inr"></i>)</span>
                            <input type="text" disabled="disabled" class="form-control" value="{{allCosts.service_tax}}" placeholder="0">
                        </div>
                    </div>
                </div>
                <div class="row">
                {{! -------------- TOTAL COST -------------- }}
                    <div class="col-lg-3" style="font-size:16px; font-weight:bold;">
                        <div class="input-group m-bot15">
                            <span class="input-group-addon">Total (<i class="fa fa-inr"></i>)</span>
                            <input type="text" disabled="disabled" class="form-control" value="{{allCosts.total_cost}}">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

{{! INVOICE  }}
<div class="modal fade" id="package-invoice-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg print-area">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row no-print">
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-primary direction-left" can-click="prevInvoice"><i class="fa fa-chevron-left"></i> Prev</button>
                        <button type="button" class="btn btn-primary direction-right" can-click="nextInvoice">Next <i class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="col-lg-4 text-center">
                        {{#incr getCurrentInvoiceIndex}}{{/incr}} of {{#length invoiceStore}}{{/length}}
                    </div>
                    <div class="col-lg-4 text-right">
                        <button type="button" class="btn btn-primary" can-click="sendInvoice" data-loading-text="Saving"><i class="fa fa-envelope"></i> Send</button>
                        <button type="button" class="btn btn-danger" can-click="printInvoice"><i class="fa fa-print"></i> Print</button>
                        <button data-dismiss="modal" class="btn btn-primary btn-sm" type="button" can-click="closeInvoice">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="padding:40px 35px 0px 35px;">
                <div class="panel-body">
                    <div class="row invoice-list">
                        <div class="col-lg-8">
                            <img src="/static/core/img/mywash-logo.png" alt="" style="height:50px;">
                        </div>
                        <div class="col-lg-4" style="font-size:20px;">
                            <span>INVOICE</span>
                            {{#ifEqual modalCustomerDetails.data.service_type "express"}}
                                <span class="label label-danger label-mini">Express</span>
                            {{/ifEqual}}
                        </div>
                    </div>
                    <div class="row invoice-list">
                        <div class="col-lg-6 col-sm-6">
                            <h4>BILLING ADDRESS</h4>
                            <p>
                                <span contenteditable class="invoice-address-name">
                                    {{modalCustomerDetails.data.user.name}}
                                </span><br>
                                <span contenteditable class="invoice-address-aptnum">
                                    {{modalCustomerDetails.data.address.apartment_number}}
                                </span>,&nbsp;
                                <span contenteditable class="invoice-address-addr1">
                                    {{modalCustomerDetails.data.address.address_1}}
                                </span><br>
                                <span contenteditable class="invoice-address-addr2">
                                    {{modalCustomerDetails.data.address.address_2}}
                                </span><br>
                                <span contenteditable class="invoice-address-city">
                                    {{modalCustomerDetails.data.address.city}}
                                </span>,&nbsp;
                                <span contenteditable class="invoice-address-state">
                                    {{modalCustomerDetails.data.address.state}}
                                </span><br>
                                {{#if modalCustomerDetails.data.address.pincode}}
                                    PIN- <span contenteditable class="invoice-pin">{{modalCustomerDetails.data.address.pincode}}</span><br>
                                {{/if}}
                                Ph- <span contenteditable class="invoice-phone">{{modalCustomerDetails.data.user.phone}}</span><br>
                                Locality - <span class="invoice-locality">{{modalCustomerDetails.data.address.locality.map_string}}</span>
                            </p>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <h4>INVOICE INFO</h4>
                            <ul class="unstyled">
                                <li>Invoice Number: <strong class="invoice-id">#{{modalCustomerDetails.data.order_id}}</strong></li>
                                <li>Invoice Date: 
                                    <a href="javascript:void(0)" class="invoice-date datepicker-required">{{getCurrentDate}}</a>
                                </li>
                                <li>Due Date: 
                                    <a href="javascript:void(0)" class="invoice-due-date datepicker-required">{{#getFormattedDate modalCustomerDetails.data.schedules.delivery.schedule_date}}{{/getFormattedDate}}</a> (<span contenteditable class="invoice-due-time">{{modalCustomerDetails.data.schedules.delivery.schedule_time}}</span>)
                                </li>
                                <li>Invoice Status:
                                    <span contenteditable>
                                        {{#ifEqual modalCustomerDetails.data.is_paid "paid"}}
                                            Paid
                                        {{else}}
                                            Not Paid
                                        {{/ifEqual}}
                                    </span>
                                </li>
                                {{#if modalCustomerDetails.data.coupon.name}}
                                    <li>Coupon applied: <span class="coupon-applied">{{modalCustomerDetails.data.coupon.name}}</span></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <table class="table table-striped table-hover items-list">
                        <thead>
                            <tr>
                                <th class="no-print"></th>
                                <th>Item</th>
                                <th class="hidden-phone">&#8377; Quantity (W-D-I)</th>
                                <th class="">&#8377; Unit Cost (W-D-I)</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="display:none;">
                                <td>
                                    <span>
                                        <a href="javascript:void(0)" style="color:red" can-click="removeInvoiceRow">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable class="row-title">Name</span>
                                </td>
                                <td class="hidden-phone">
                                    <span>
                                        <span contenteditable class="quantity-laundry">
                                            0
                                        </span>-
                                        <span contenteditable class="quantity-dryclean">
                                            0
                                        </span>-
                                        <span contenteditable class="quantity-iron">
                                            0
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        <span contenteditable class="price-laundry">
                                            0
                                        </span>-
                                        <span contenteditable class="price-dryclean">
                                            0
                                        </span>-
                                        <span contenteditable class="price-iron">
                                            0
                                        </span>
                                    </span>
                                </td>
                                <td>&#8377; 
                                    <span contenteditable class="row-final-cost"> 0</span>
                                </td>
                            </tr>
                        {{#each cleaningItems}}
                            {{#if final_cost}}
                            <tr>
                                <td class="no-print">
                                    <span>
                                        <a href="javascript:void(0)" style="color:red" can-click="removeInvoiceRow">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </span>
                                </td>
                                <td>
                                    <span contenteditable class="row-title">{{title}}</span>
                                </td>
                                <td class="hidden-phone">
                                    <span>
                                        <span contenteditable class="quantity-laundry">
                                            {{#if quantity.laundry}}{{quantity.laundry}}{{else}}0{{/if}}
                                        </span>-
                                        <span contenteditable class="quantity-dryclean">
                                            {{#if quantity.dryclean}}{{quantity.dryclean}}{{else}}0{{/if}}
                                        </span>-
                                        <span contenteditable class="quantity-iron">
                                            {{#if quantity.iron}}{{quantity.iron}}{{else}}0{{/if}}
                                        </span>
                                    </span>
                                </td>
                                <td>
                                    <span>
                                        <span contenteditable class="price-laundry">
                                            {{price.laundry}}
                                        </span>-
                                        <span contenteditable class="price-dryclean">
                                            {{price.dry_cleaning}}
                                        </span>-
                                        <span contenteditable class="price-iron">
                                            {{price.iron}}
                                        </span>
                                    </span>
                                </td>
                                <td>&#8377; 
                                    <span contenteditable class="row-final-cost"> {{final_cost}}</span>
                                </td>
                            </tr>
                            {{/if}}
                        {{/each}}
                        </tbody>
                    </table>
                    <div class="row no-print">
                        <div>
                            <a href="javascript:void(0)" can-click="addInvoiceRow">
                                &nbsp;&nbsp;&nbsp;&nbsp;+ Add row</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 invoice-block pull-right">
                            <ul class="unstyled amounts">
                                <li>
                                    <strong>Subtotal amount :</strong> &#8377; 
                                    <span contenteditable class="invoice-sub-total">
                                    {{#if modalCustomerDetails.data.cost.sub_total}}
                                        {{modalCustomerDetails.data.cost.sub_total}}
                                    {{else}}
                                        0
                                    {{/if}}
                                    </span>
                                </li>
                                <li>
                                    <strong>Discount :</strong> &#8377; 
                                    <span contenteditable class="invoice-discount-total">
                                    {{#if modalCustomerDetails.data.discount.total}}
                                        {{modalCustomerDetails.data.discount.total}}
                                    {{else}}
                                        0
                                    {{/if}}
                                    </span>
                                </li>
                                {{#isNotEmpty modalCustomerDetails.data.service_tax}}
                                <li>
                                    <strong>Service tax ({{modalCustomerDetails.data.service_tax.type}}@14%) :</strong> &#8377; 
                                    <span contenteditable class="invoice-tax-used">
                                    {{#if modalCustomerDetails.data.service_tax.amount}}
                                        {{modalCustomerDetails.data.service_tax.amount}}
                                    {{else}}
                                        0
                                    {{/if}}
                                    </span>
                                </li>
                                {{/isNotEmpty}}
                                <li>
                                    <strong>Credits :</strong> &#8377; 
                                    <span contenteditable class="invoice-credits-used">
                                    {{#if modalCustomerDetails.data.credits.used}}
                                        {{modalCustomerDetails.data.credits.used}}
                                    {{else}}
                                        0
                                    {{/if}}
                                    </span>
                                </li>
                                <li>
                                    <strong>Grand Total :</strong> &#8377; 
                                    <span contenteditable class="invoice-total">
                                    {{#if modalCustomerDetails.data.cost.total}}
                                        {{modalCustomerDetails.data.cost.total}}
                                    {{else}}
                                        0
                                    {{/if}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row bold">
                        <div class="col-md-6">
                            W-D-I: Wash &amp; Iron - Drywash - Iron
                        </div>
                        <div class="col-md-6 text-right">
                            ST Number - AAJCM5050GSD001
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endraw %}