<div class="col-left">
	<div class="side-box">
	    <h4>Settings</h4>
	</div>
	<ul class="nav nav-pills nav-stacked js-sub-tab">
	    <li {% if section.sub == "jobpreferences" %} class="active" {% endif %}><a href="/settings/jobpreferences"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Job Alerts Settings</a></li>
	    <li {% if section.sub == "subscriptions" %} class="active" {% endif %}><a href="/settings/subscriptions"><span class="glyphicon glyphicon-chevron-right pull-right"></span>Notifications</a></li>
	</ul>

	<p>&nbsp;</p>
</div>