<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
        <td bgcolor="#f7f7f9">
            
            <table width="" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#68c1ec" style="background:#68c1ec">
                <tbody>
                    <tr>
                        <td valign="top"><a href="#146a39c5dc1b770c_140839483da7d746_"><img border="0" style="margin:0px;padding:0px;display:block" src="https://c4.staticflickr.com/4/3934/15349502807_dd66d0d89c_z.jpg" alt="MyWash - Clean clothes, at the tap of a button"></a></td>
                    </tr>
                </tbody>
            </table>


            
            
            <table width="581" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f7f7f9" style="border-bottom: 1px solid #E1E1E1;margin-bottom: 30px;">
                <tbody>
                    <tr>
                        <td valign="top" style="padding: 0px 13px 10px 14px;font-family:Helvetica,Arial,sans-serif">
                        <table cellpadding="0" cellspacing="0" width="100%" style="background: #f7f7f9;padding:15px;">
                            <tbody>
                                <tr>
                                    <td style="padding-bottom:10px">
                                        <h2 style="font-size:22px;font-weight:bold; color: #666666; font-family: 'Myriad Pro','Arial',sans-serif;  font-weight: 300;     ">  <span class="il">Welcome</span> {{emails.user}}!</h2>
                                    </td>
                                </tr>
                                

<tr>
                                    <td style="color: #666666;font-size: 16px;padding-bottom:17px;font-family: 'Myriad Pro','Arial',sans-serif;font-weight: 300;font-weight: 2;">It's our pleasure to be serving you. Schedule our service, and we shall Pick up, Wash, Iron and Deliver your clothes, with atmost care. </td>
                                </tr>

<tr>
                                    <td style="color: #666666;font-size: 16px;padding-bottom:17px;font-family: 'Myriad Pro','Arial',sans-serif;font-weight: 300;font-weight: 2;">We Treat your clothes like a celebrity!</td>
                                </tr><tr>
                                    <td style="color: #666666;font-size: 16px;padding-bottom:17px;font-family: 'Myriad Pro','Arial',sans-serif;font-weight: 300;font-weight: 2;">Regards, <br> Team MyWash</td>
                                </tr>
                                

                            </tbody>
                        </table>
                        </td>
                    </tr>            
                </tbody>
            </table>

        <table width="581" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;height:30px">

<tbody>
<tr>
  <td style="text-align:center;font-size:18px;color: #666666; font-size: 16px; padding-bottom: 17px; font-family: 'Myriad Pro','Arial',sans-serif; font-weight: 300;">Follow us on</td>
</tr>

</tbody>

</table>




<!-- begins -->
<table width="581" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;height:70px;text-align:center;border-bottom:1px solid #e1e1e1;margin-bottom:30px">
 <tbody>

  <tr>
 
 

 <td width="30"></td><td width="30">
 <a href="https://www.facebook.com/mywashapp" style="text-decoration:none">
 <img width="30" height="30" border="0" src="https://ci5.googleusercontent.com/proxy/Wmf0JyvxiCPethD1qgcUp4VfAl1Cc7Ndto4dPrXDw50t4qTqUILvGOGF5yerEcuZP4rCMZf6Z946Q6istxskGoE5=s0-d-e1-ft#http://www.fancystore.biz/email_icons/fb.png" style="text-decoration:none;display:block;outline:none" class="CToWUd">
 </a>
 </td>
 <td style="padding-left:6px;padding-right:20px;font-family:helvetica neue,helvetica,sans-serif;font-weight:lighter;font-size:14px;letter-spacing:2px;text-align: left;">
 <a href="https://www.facebook.com/mywashapp" style="text-decoration:none;color:#ffffff;color:#666666;font-size:16px;padding-bottom:17px;font-family:'Myriad Pro','Arial',sans-serif;font-weight:300">
 Facebook
 </a>
 </td>

 <td width="30">
 <a href="https://twitter.com/mywashapp" style="text-decoration:none">
 <img width="30" height="30" border="0" src="https://ci3.googleusercontent.com/proxy/OIG_YxKgI3BHcvenLYT-Xomn7_4ukdybSdcqu8eZBOnrS3xeje5KTesloeSBasUJX9HH6kcfoMnkY3KOapn2o4FW=s0-d-e1-ft#http://www.fancystore.biz/email_icons/tw.png" style="text-decoration:none;display:block;outline:none" class="CToWUd">
 </a>
 </td>
 <td style="padding-left:6px;padding-right:20px;font-family:helvetica neue,helvetica,sans-serif;font-weight:lighter;font-size:14px;letter-spacing:2px;text-align: left;">
 <a href="https://twitter.com/mywashapp" style="text-decoration:none;color:#ffffff;color:#666666;font-size:16px;padding-bottom:17px;font-family:'Myriad Pro','Arial',sans-serif;font-weight:300">
 Twitter
 </a>
 </td>

 <td width="30">
 <a href="https://plus.google.com/102797204251643014956/about" style="text-decoration:none">
 <img width="30" height="30" border="0" src="https://ci6.googleusercontent.com/proxy/G1XNAGnf5cPSxm43B27kXADVC7y9DkgxP-J2YQrH8P0Ant-bbvhQfLCLJ04FTjOB4V3fwQShlNLPtqj-2ja3mmWZ=s0-d-e1-ft#http://www.fancystore.biz/email_icons/g+.png" style="text-decoration:none;display:block;outline:none" class="CToWUd">
 </a>
 </td>
 <td style="padding-left:6px;padding-right:20px;font-family:helvetica neue,helvetica,sans-serif;font-weight:lighter;font-size:14px;letter-spacing:2px;text-align: left;">
 <a href="https://plus.google.com/102797204251643014956/about" style="text-decoration:none;color:#ffffff;color:#666666;font-size:16px;padding-bottom:17px;font-family:'Myriad Pro','Arial',sans-serif;font-weight:300">
 Google+
 </a>
 </td>

 </tr>
 </tbody></table>



 <!-- ends -->

         <table width="581" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;height:30px">

<tbody>
<tr>
  <td style="text-align:center;font-size:18px;color: #666666; font-size: 16px; padding-bottom: 17px; font-family: 'Myriad Pro','Arial',sans-serif; font-weight: 300;">MyWash Services, Banglore</td>
</tr>

</tbody>

</table>


<table width="581" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;height:30px">

<tbody>
<tr>
<td><img src="file:///Users/ONGC/Desktop/app_background.png" style="width: 420px;"></td>
    
</tr>

</tbody>

</table>
    </td></tr></tbody></table>
