{% set show_footer = false %}
{% extends 'layout/modal.jinja' %}

{% block content %}
    <div class="content">
        <p><strong class="tx-15">What is Introduce &amp; Win?</strong><br>
        With Introduce &amp; Win, you earn points with every introduction that you make. You earn points right from the very first introduction. The minimum that you can earn is 100 points.</p>
        <p><strong class="tx-15">When can I redeem points?</strong><br>
        You can redeem points, soon after your very first introduction, that is starting from 100 points.</p>
        <p><strong class="tx-15">What are the reward options available?</strong><br>
        Based on the total points accumulated, you can redeem points for gift vouchers from Flipkart, LifeStyle and Shoppers Stop.
        </p>
        <p><strong class="tx-15">How can I redeem points?</strong><br>
        In the Home page of MyParichay application, click on the “Redeem Points” button to see a list of available options that you can redeem. You can choose your desired gift voucher, enter details and redeem them from here.
        </p>
        <p><strong class="tx-15">How and when will the gift vouchers be delivered?</strong><br>
        All of these are E-gift vouchers and hence these will be emailed to you at the email address mentioned during the redemption process. It will be delivered within 10 working days from the date of redemption.
        </p>
        <p><strong class="tx-15">Whom do I contact in case of any queries?</strong><br>
        You can contact <a href="mailto:rewards@myparichay.in">rewards@myparichay.in</a> in case of any queries.
        </p>
    </div>
{% endblock content %}
