{% set show_footer = false %}
{% set modal_class = 'email-prompt-modal' %}
{% extends 'layout/modal.jinja' %}

{% block content %}
<div class="content">
    <p>Thank you for the introduction, you have earned 100 points. Please check your email for details on how to redeem your points for exciting gifts.</p>
</div>
{% endblock content %}