<div class="col-left">
    <ul class="nav nav-pills nav-stacked js-sub-tab">
        <li {% if section.sub == "introductions" %} class="active" {% endif %}><a href="/introductions"><i class="glyphicon glyphicon-chevron-right pull-right"></i>Introductions</a></li>
        <li {% if section.sub == "redeem" %} class="active" {% endif %}><a href="/introductions/redeem"><i class="glyphicon glyphicon-chevron-right pull-right"></i>Redeem Points</a></li>
        <li {% if section.sub == "redeem_history" %} class="active" {% endif %} ><a href="/introductions/redeem/history"><i class="glyphicon glyphicon-chevron-right pull-right"></i>Redeem History</a></li>
    </ul>
</div>