<span class="js-profile-sub-single-edit hide"><a href="/resume/delete/{{ resume.id }}" class="glyphicon glyphicon-trash-o js-remove-action pull-right"></a></span><a href="/resume/fetch/{{ resume.id | seal_id }}" target="_blank" >{{ resume.name }}</a>
