<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MyWash - Clean clothes at the tap of a button</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/static/web-css/base.css">
  <link rel="stylesheet" href="/static/web-css/skeleton.css">
<!--   <link rel="stylesheet" href="/static/web-css/style06.css">
 -->  <link rel="stylesheet" href="/static/web-css/style_558c134627e76e47aefc6fc5.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
  <link rel="apple-touch-icon" href="/static/web-images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/web-images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/web-images/apple-touch-icon-114x114.png">


  <!-- for Google -->
  <meta name="description" content="MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash.in is simply the best  laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand" />
  <meta name="keywords" content="" />

  <meta name="author" content="" />
  <meta name="copyright" content="" />
  <meta name="application-name" content="" />

  <!-- for Facebook -->         
  <meta property="og:title" content="MyWash - Clean clothes at the tap of a button" />
  <meta property="og:image" content="https://c2.staticflickr.com/6/5612/14978414593_73d8f5138c.jpg" />
  <meta property="og:url" content="http://mywash.in" />
  <meta property="og:description" content="MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash is simply the best laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand" />
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="850">
  <meta property="og:image:height" content="313">

  <!-- for Twitter -->         
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="MyWash" />
  <meta name="twitter:description" content="MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash is simply the best  laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand" />
  <meta name="twitter:image" content="http://c2.staticflickr.com/4/3952/15349058449_5b50b9b007.jpg" /> 

  <script src="/static/web-js/jquery.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55912010-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>
  <div id="nav-wrapper" >
    <div class="container">
      <a id="mobile-logo" href="#"><img src="/static/web-images/logo.png" title="Online Laundry Service At Doorstep" alt="Mywash- Online Laundry Service"></a>
      <div id="navigation" class="eleven columns">
        <a id="mobile-logo" href="#"><img src="/static/web-images/logo.png" title="Online Laundry Service At Doorstep" alt="Mywash- Online Laundry Service"></a>
        <a id="menu" href="#"><img src="/static/web-images/menu.png" title="dry cleaning service near kormangala" alt="dry cleaning service near me"></a>
        <ul>
          <li><a href="/#home">Home</a></li>
          <li><a href="/#howitworks">How we work</a></li>
          <li><a href="/about">About us<img id="onclick" src='/static/web-images/hanger-small.png' title="Mywash - wash and iron service" alt="Mywash dry cleaning service India"></a></li>
          <li><a  href="/#areas">Areas we serve</a></li>
          <li><a  href="/#price">Pricing</a></li>
          <li><a  href="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="about">

    <div class="container">
      <a href="/"><img id="logo" src="/static/web-images/logo.png" title="Online Laundry Service At Doorstep" alt="Mywash- Online Laundry Service"></a>
      <div class="twelve columns">
        <h3>Clean clothes at the tap of a button</h3>
      </div>
    </div>

    <br><br>

    <div class="container">
      <em class="italic"><h5>"We wanted an easy way to get laundry done. We couldn't find one. So we built one."</h5></em></br>
      <h6>
        Doing laundry takes time and energy, which you could spend doing what you love instead of some boring menial task such as laundry. Sure, you could take it to the local laundry or dry cleaning, but it still takes time and can be rather inconvenient at the end. That's where MyWash comes in: we provide you with the luxury of not having to do the laundry yourself, and we come straight to your doorstep in Bangalore.
      </h6> 
      <h6>
        With our mobile app, you can place the order from your smartphone, choose the pick-up and delivery times, and we'll do the rest. You get clean clothes and the time to do whatever you like. It doesn't get better than that, so place your order with MyWash now, and enjoy yourself!
      </h6>
    </div>
    <br><br>

    <div id="team" class="container about-text">
      <div class="twelve columns text-center">
        <h4>Our Team</h4>
      </div>
    </div>
    
    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class="raghu"></div>
      </div>
      <div class="eleven columns alpha">
        <h4 style="margin-top: 10px; margin-left: 30px;">
          Raghu Bharat &nbsp;
          <a target="_blank" href="https://in.linkedin.com/in/raghubharat"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/raghubharat"><img src="/static/web-images/webicon-facebook-s.png"></a>
          <a target="_blank" href="https://twitter.com/RaghuBharat"><img src="/static/web-images/webicon-twitter-s.png"></a>
        </h4>
        <h5 class="about_me">
        CEO</br>
        CSE, BITS-Pilani</br>
        Myparichay</br>
        Avaya</br>
        </h5>
      </div>
    </div>

    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class='silus'></div>
      </div>
      <div class="eleven columns alpha">
        <h4 style="margin-top: 10px; margin-left: 30px;">
          Silus Reddy &nbsp;
          <a target="_blank" href="https://www.linkedin.com/in/silus"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/silus151"><img src="/static/web-images/webicon-facebook-s.png"></a>
          <a target="_blank" href="https://twitter.com/silus151"><img src="/static/web-images/webicon-twitter-s.png"></a>
        </h4>
        <h5 class="about_me">
          Co-Founder</br>
          BITS-Pilani</br>
          1click.io</br>
          toptalent.in</br>
        </h5>
      </div>
    </div>
    
    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class="bala"></div>
      </div>
      <div class="eleven columns alpha">
        <h4 style="margin-top: 10px; margin-left: 30px;">
          Balaji Ashok &nbsp;
          <a target="_blank" href="https://in.linkedin.com/in/balajiadober"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/balaji.adober"><img src="/static/web-images/webicon-facebook-s.png"></a>
        </h4>
        <h5 class="about_me">
        Co-Founder</br>
        TicketGoose<br>
        Ashoka<br>
        Young India Fellow<br> 
        </h5>
      </div>
    </div><br>
    
    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class="abhilash"></div>
      </div>
      <div class="eleven columns alpha">
        <h4 style="margin-top: 10px; margin-left: 30px;">
          Abhilash Nanda &nbsp;
          <a target="_blank" href="https://in.linkedin.com/pub/abhilash-nanda/21/963/34a"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/wishabhilash"><img src="/static/web-images/webicon-facebook-s.png"></a>
          <a target="_blank" href="https://twitter.com/wishabhilash"><img src="/static/web-images/webicon-twitter-s.png"></a>
        </h4>
        <h5 class="about_me">
          Technical Lead</br>
          IIIT-Hyderbad<br>
          Toptalent<br>
        </h5>
      </div>
    </div>

    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class="tony"></div>
      </div>
      <div class="eleven columns alpha">
        <h4 style="margin-top: 10px; margin-left: 30px;">
          Tony Sebastian Bento &nbsp;
          <a target="_blank" href="https://in.linkedin.com/in/tonysebastianbento"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/tonysebastianbento"><img src="/static/web-images/webicon-facebook-s.png"></a>
          <a target="_blank" href="https://twitter.com/tonysebastin"><img src="/static/web-images/webicon-twitter-s.png"></a>
        </h4>
        <h5 class="about_me">
          Technical Lead - Android Apps</br>
          <!--
          He's the android man at MyWash. He strongly believes in the power of the mobile in shaping today's world. And rightly so, he spearheads our efforts in taking our business to the ever-growing mobile platform. When not coding, you'll most likely find him listening to music or watching movies.-->
          Wipro<br>
          TCS<br>
        </h5>
      </div>
    </div>

    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class="baid"></div>
      </div>
      <div class="eleven columns alpha">
        <h4 style="margin-top: 10px; margin-left: 30px;">
          Nishant Baid &nbsp;
          <a target="_blank" href="https://in.linkedin.com/pub/nishant-baid/a4/2a7/867"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/nishant.baid.9"><img src="/static/web-images/webicon-facebook-s.png"></a>
          <a target="_blank" href="https://twitter.com/nbaid88"><img src="/static/web-images/webicon-twitter-s.png"></a>
        </h4>
        <h5 class="about_me">
          Financial controller<br>
          eLagaan<br>
          ICAI
        </h5>
      </div>
    </div>
    
    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class="vinit"></div>
      </div>
      <div class="eleven columns alpha">
        <h4 style="margin-top: 10px; margin-left: 30px;">
          Vinit Bhosle &nbsp;
        </h4>
        <h5 class="about_me">
          Head - Customer Support</br>
          <!-- He is your MAN when it comes to handling your grievances or Issues (If Any  :) ). He ensures your 
          experience with MyWash is pleasant and hassle free and that we really stand by our words when we say 
          “Doing Laundry is Not a Pain Anymore!” -->
          Mahindra Holidays
        </h5>
      </div>
    </div>


    <div id="team" class="container about-text">    

      <div class="four columns alpha">
        <div class="nirav"></div>
        <h5>Nirav Parmar</h5>
        <h6>
          Product/Marketing<br>
          IIM-Ahmedabad<br>
          BPCL
        </h6>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/nirav-parmar/65/819/284"><img src="/static/web-images/webicon-linkedin-s.png"></a>
        </span>
      </div>

      <div class="four columns alpha">
        <div class="veera"></div>
        <h5>Veera Vikram Vanaparthy</h5>
        <h6>
          Manager - Product Development<br>
          BITS-Pilani<br>
          MapmyIndia
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/veera-vikram-vanaparthy/2a/809/2aa"><img src="/static/web-images/webicon-linkedin-s.png"></a>
        </span>
      </div>

      <div class="four columns alpha">
        <div class="naren"></div>
        <h5>Narendhiran Sundaresan S</h5>
        <h6>
          Manager - Product/Marketing<br>
          BITS Pilani-MBA<br>
          Intruo.com, GoldMan Sachs<br>
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/narendhiran-sundaresan/4b/3a/b79"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/narendhiransundaresan.s"><img src="/static/web-images/webicon-facebook-s.png"></a>
          <a target="_blank" href="https://twitter.com/s_narendhiran"><img src="/static/web-images/webicon-twitter-s.png"></a>
        </span>
      </div>

      <div class="four columns alpha">
        <div class="vikram"></div>
        <h5>Vikram Reddy</h5>
        <h6>
          Manager - Operations<br>
          BITS-Pilani<br>
          WorldQuant LLC
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://www.linkedin.com/pub/vikram-kallam/39/826/a52"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/vikram.burnquist"><img src="/static/web-images/webicon-facebook-s.png"></a>
        </span>
      </div>

    </div>

    <div id="team" class="container about-text">

      <div class="four columns alpha">
        <div class="kataria"></div>
        <h5>Saurabh Kataria</h5>
        <h6>
          Manager - Operations<br>
          BITS-Pilani
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/in/katariasaurabh"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/ktr24"><img src="/static/web-images/webicon-facebook-s.png"></a>
        </span>
      </div>

      <!-- <div class="four columns alpha">
        <img class='face' src="https://media.licdn.com/media/AAEAAQAAAAAAAALpAAAAJGQ5NDU4NjM1LTNjODEtNDMxMC1hOTI2LTBhYWQ2ZWExMzQ5Mw.jpg" >
        <h5>Abhinav Pandey</h5>
        <h6>
          Manager - Operations<br>
          BITS-Pilani
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/abhinav-pandey/b0/877/5aa"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/abhinav.pandey"><img src="/static/web-images/webicon-facebook-s.png"></a>
        </span>
      </div>
 -->
      <div class="four columns alpha">
        <div class="ravitej"></div>
        <h5>Ravitej Noothigattu</h5>
        <h6>
          Manager - Operations<br>
          BITS-Pilani
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/ravitej-noothigattu/9b/44b/b0a"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/ravitej.noothigattu"><img src="/static/web-images/webicon-facebook-s.png"></a>
        </span>
      </div>

      <div class="four columns alpha">
        <div class="kandwal"></div>
        <h5>Abhilash kandwal</h5>
        <h6>
          Manager - Operations<br>
          BITS-Pilani
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/abhilash-kandwal/51/22a/96b"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/abhilash.kandwal"><img src="/static/web-images/webicon-facebook-s.png"></a>
          <a target="_blank" href="https://twitter.com/AbhilashKandwa2"><img src="/static/web-images/webicon-twitter-s.png"></a>
        </span>
      </div>

      <div class="four columns alpha">
        <div class="prashanth"></div>
        <h5>Prashanth Adepu</h5>
        <h6>
          Python Developer<br>
          IIIT-Hyderabad
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/in/prashanthadepu"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/AdepuPrashanth"><img src="/static/web-images/webicon-facebook-s.png"></a>
        </span>
      </div>
    </div>

    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class="shakti"></div>
        <h5>Shaktipada Mohanty</h5>
        <h6>
          Python Developer<br>
          Wipro, CoWhite
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/shaktipada-mohanty/80/5a/664"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/lawrence.006"><img src="/static/web-images/webicon-facebook-s.png"></a>
          <a target="_blank" href="https://twitter.com/karnah006"><img src="/static/web-images/webicon-twitter-s.png"></a>
        </span>
      </div>

      <div class="four columns alpha">
        <div class="divya"></div>
        <h5>Divya D C</h5>
        <h6>
          Android Developer<br>
          McAfee
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/divya-dc/ba/424/2b8"><img src="/static/web-images/webicon-linkedin-s.png"></a>
        </span>
      </div>

      <div class="four columns alpha">
        <div class="haridas"></div>
        <h5>Haritha Haridas</h5>
        <h6>
          Designer<br>
          DA-IICT
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/haritha-v-v/71/62a/382"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.behance.net/harithavv"><img src="/static/web-images/webicon-behance-s.png"></a>
        </span>
      </div>

      <div class="four columns alpha">
        <div class="pragya"></div>
        <h5>Pragya Joshi</h5>
        <h6>
         Designer<br>
         Srishti school of art design
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/pragya-joshi/36/452/198"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/pragg999"><img src="/static/web-images/webicon-facebook-s.png"></a>
          <a target="_blank" href="https://www.behance.net/Pragyajoshi"><img src="/static/web-images/webicon-behance-s.png"></a>
        </span>
      </div>
    </div>
  
    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class="prabha"></div>
        <h5>Prabha Kiran Singh</h5>
        <h6>
          Manager - SEO<br>
          Nuclei Marketing Pvt Ltd
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/prabha-kiran/b8/505/776"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/prabha.kiran.7"><img src="/static/web-images/webicon-facebook-s.png"></a>
        </span>
      </div>

      <div class="four columns alpha">
        <div class='paul'></div>
        <h5>Arindam Paul</h5>
        <h6>
          Manager - Customer Support<br>
          Oracle
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://www.facebook.com/arindam.paul.35762"><img src="/static/web-images/webicon-facebook-s.png"></a>
        </span>
      </div>
    
      <div class="four columns alpha">
        <div class="megha"></div>
        <h5>Megha Dhandharia</h5>
        <h6>
          Product/Marketing<br>
          City-Head Kolkata Foodpanda
        </h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/pub/megha-dhandharia/30/186/a86"><img src="/static/web-images/webicon-linkedin-s.png"></a>
          <a target="_blank" href="https://www.facebook.com/megha.dhandharia.7"><img src="/static/web-images/webicon-facebook-s.png"></a>
        </span>
      </div>
    </div>
  
  
    <div id="team" class="container about-text">
      <div class="four columns alpha">
        <div class="ashish"></div>
        <h5>Anurag Kumar</h5>
        <h6>Operations</h6>
        <br>
        <span>
          <a target="_blank" href="https://www.linkedin.com/pub/anurag-kumar/48/5a0/577"><img src="/static/web-images/webicon-linkedin-s.png"></a>
        </span>
      </div>
      <div class="four columns alpha">
        <img class='face' src="https://media.licdn.com/media/p/3/000/028/20e/140313e.jpg" >
        <h5>Ashish Pandey</h5>
        <h6>Operations</h6>
        <br>
        <span>
          <a target="_blank" href="https://in.linkedin.com/in/ashishpandey24"><img src="/static/web-images/webicon-linkedin-s.png"></a>
        </span>
      </div>
    </div>
  

  </div>

  <div id="footer">
    <div class="container">
      <div class="four columns">
        <h4>Company</h4>
        <h5><a href="#">About</a></h5>
        <h5><a href="#">How MyWash works?</a></h5>
        <h5><a href="#">Testimonials</a></h5>
        <h5><a href="#">Terms &amp; Conditions</a></h5>
        <h5><a href="#">Policy</a></h5>
        <br><br>
        <h4>Phone</h4>
        <h5 class="phone"><img class="phone" src="/static/img/phone2.png">080-39591212 (8am-10pm)</h5>
      </div>
      <div class="four columns">
        <h4>Follow us</h4>
        <h5><a href="https://www.facebook.com/mywashapp"><img src="/static/web-images/fb.png">Facebook</a></h5>
        <h5><a href="https://twitter.com/mywashapp"><img src="/static/web-images/twitter.png">Twitter</a></h5>
        <h5><a href="https://plus.google.com/102797204251643014956" rel="publisher"><img src="/static/web-images/gplus.png">Google+</a></h5>
      </div>
      <div class="eight columns">
        <a id="mobile-logo" href="#"><img src="/static/web-images/logo.png" title="Online Laundry Service At Doorstep" alt="Mywash- Online Laundry Service"></a>
        <h4>MyWash.in - Online Laundry &amp; Dry cleaning India</h4>
        <p>
          MyWash.in is the best online laundry service &amp; online dry washing service in India. MyWash is the easiest way to get your laundry &amp; dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash.in is simply the best  laundry &amp; dry cleaning service in India. We provide laundry and dry cleaning services on-demand. MyWash.in picks up your dirty laundry and dry cleaning, and returns them clean, ironed, and folded within about a day.
         </p>
         <p>
           Through MyWash app you can place an order on your phone or tablet, including pickup and drop-off time scheduling. A MyWash agent will arrive at the time you scheduled to pick up your laundry and dry cleaning, and within 48-72 hours your clothes are delivered in reusable non-plastic bags, washed and folded. MyWash.in is the online laundry service, online dhobi, awesome laundry service, one-stop laundry center, laundry app, dry cleaning service, laundry &amp; dry cleaning service, you have been waiting for. We are currently providing our online laundry &amp; dry cleaning service in Bangalore - Koramangala, HSR, BTM, Bellandur, Domlur, Indiranagar, Bannerghatta, Adugodi, &amp; Ejipura.
        </p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/web-js/mywash03.js"></script>
  <script type="text/javascript" src="//s3.amazonaws.com/scripts.hellobar.com/e61bf47078b23ad0c27b941f7f70255424cb7723.js"></script>
</body>
</html>
