<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>MyWash - Clean clothes at the tap of a button</title>


	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/static/web-css/base.css">
	<link rel="stylesheet" href="/static/web-css/skeleton.css">
	<link rel="stylesheet" href="/static/web-css/layout.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/static/web-images/favicon.ico">
	<link rel="apple-touch-icon" href="/static/web-images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/web-images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/web-images/apple-touch-icon-114x114.png">


	  <!-- for Google -->
     <meta name="description" content="MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash.in is simply the best laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand" />
     <meta name="keywords" content="" />

     <meta name="author" content="" />
     <meta name="copyright" content="" />
     <meta name="application-name" content="" />

     <!-- for Facebook -->         
     <meta property="og:title" content="MyWash - Clean clothes at the tap of a button" />
     <meta property="og:image" content="https://c2.staticflickr.com/6/5598/15349058409_c04348f281.jpg" />
     <meta property="og:url" content="www.mywash.in" />
     <meta property="og:description" content="MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash is simply the best laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand" />
     <meta property="og:image:type" content="image/png">
     <meta property="og:image:width" content="850">
     <meta property="og:image:height" content="313">

     <!-- for Twitter -->         
     <meta name="twitter:card" content="summary" />
     <meta name="twitter:title" content="MyWash" />
     <meta name="twitter:description" content="MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash is simply the best laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand" />
     <meta name="twitter:image" content="http://c2.staticflickr.com/4/3952/15349058449_5b50b9b007.jpg" /> 

	<script src="js/jquery.js"></script>

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->


<div id="nav-wrapper" >
	<div class="container">
		<a id="mobile-logo" href="#"><img src="/static/web-images/logo.png" title="Online Laundry Service At Doorstep" alt="Mywash- Online Laundry Service"></a>

		<div id="navigation" class="eight columns">

			<a id="mobile-logo" href="#"><img src="/static/web-images/logo.png" title="Online Laundry Service At Doorstep" alt="Mywash- Online Laundry Service"></a>
			<a id="menu" href="#"><img src="/static/web-images/menu.png" title="dry cleaning service near kormangala" alt="dry cleaning service near me"></a>


			<ul>
				<li><a href="#home">Home<img id="onclick" src='/static/web-images/hanger-small.png' title="Mywash - wash and iron service" alt="Mywash dry cleaning service India"></a></li>
				<li><a href="#howitworks">How it works</a></li>
				<li><a  href="#areas">Areas we serve</a></li>
				<li><a  href="#price">Pricing</a></li>
				<li><a  href="http://mywash.in/login">Login</a></li>
			</ul>
		</div>
	</div>
</div>


	<div id="fixed-navigation" class="eight columns">
			<div class="fixed-nav-wrap"> 
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#howitworks">How it works</a></li>
				<li><a href="#areas">Areas we serve</a></li>
				<li><a href="#price">Pricing</a></li>
				<li><a href="http://mywash.in/login">Login</a></li>
			</ul>
			</div>
		</div>

	<div id="home" class="container">

		<div class="eight columns alpha mobile-hero">
			<img id="logo" src="images/logo.png" title="Online Laundry Service At Doorstep" alt="Mywash- Online Laundry Service">
			<h3>Tap a button, and get your clothes washed</h3>
			<a href="http://mywash.in/order_schedule" class="button">Schedule a wash</a>
		</div>

		<div id="hero-img" class="eight columns omega">
			<img src="/static/web-images/shirt.png">
		</div>
				
	</div><!-- container -->

	<div id="howitworks">

		<img id="wave" src="/static/web-images/wave.png" title="Fast laundry service bangalore" alt="laundry and drycleaning services marathahalli">
		<div class="blue_wrap">
			<div class="container">

				<h3 class="align_center"><img class="hanger" src='/static/web-images/hanger-small-white.png'>How mywash works?</h3>

				<div class="four columns  steps align_center">
					<span class="step-count">1</span>
					<span class="step1-icon"></span>
					<h4>Place Order</h4>
					<h5>Forget carrying your clothes to the dry cleaner or washing them at home. Just go to MyWash.in and select your pickup and delivery times. It is that simple.
					</h5>
				</div>

				<div class="four columns steps align_center">
					<span class="step-count">2</span>
					<span class="step4-icon"></span>
					<h4>Pick up</h4>
					<h5>A MyWash Agent armed with ecofriendly bags will arrive at your door to pick up your dry cleaning and laundry.
					</h5>
				</div>

				<div class="four columns steps align_center">
					<span class="step-count">3</span>
					<span class="step2-icon"></span>
					<h4>Wash & Iron</h4>
					<h5>Our expert cleaners and master pressers ensure that your clothes come back looking fresh and beautiful every time.
</h5>
				</div>

				<div class="four columns steps align_center">
					<span class="step-count">4</span>
					<span class="step3-icon"></span>
					<h4>Deliver</h4>
					<h5>Your clothes will be delivered on time to your doorstep. Now getting your laundry done is that simple.
</h5>
				</div>


			</div>
		</div>
		
				
	</div><!-- howitworks -->


	<div id="press" class="container">
		<h3><img class="hanger" src='/static/web-images/hanger-small.png' title="Mywash - wash and iron service" alt="Mywash dry cleaning service India">In the press</h3>
		<ul>
			<li>
				<a href="#"><img src="http://www.getwashio.com/images/new/press/press-wp.png"></a>
			</li>
			<li>
				<a href="#"><img src="http://www.getwashio.com/images/new/press/press-tc_s.png"></a>
			</li>
			<li>
				<a href="#"><img src="http://www.getwashio.com/images/new/press/press-forbes_s.png"></a>
			</li>
			<li>
				<a href="#"><img src="http://www.getwashio.com/images/new/press/press-nyt.png"></a>
			</li>
			
		</ul>
	</div>




	<div id="areas" class="container">
		<h3><img class="hanger" src='/static/web-images/hanger-small.png' title="Mywash - wash and iron service" alt="Mywash dry cleaning service India">Areas we cover</h3>
		
		<div id="area-banner" class="eight columns">
			<img src="/static/web-images/bengaluru.png" title="Mywash service at kormanagala and marathalli" alt="Laundry service at jayanagar and domlur">
		</div>

		<div id="street" class="five columns">
			<div class="border">Areas covered</div>
			<ul>
				<li><i>Koramangala</i></li>
				<li><i>Indra Nagar</i></li>
				<li><i>HSR Layout</i></li>

			</ul>

		</div>

	</div>


<div id="price" class="price container">

			<h3><img class="hanger" src='/static/web-images/hanger-small.png' title="Mywash - wash and iron service" alt="Mywash dry cleaning service India">Prices</h3>


                <div class="table">       
                    <table class="price">
                    <colgroup>
                        <col width="65%">
                        <col width="35%">
                    </colgroup>
                        <tbody><tr>
                            <th colspan="2"><span>Wash & Iron</span></th>
                        </tr>
                        <tr>
                            <td>Shirts</td>
                            <td>Rs.30 &nbsp; /cloth</td>
                        </tr>
                        <tr>
                            <td>Pants</td>
                             <td>Rs.30 &nbsp; /cloth</td>
                        </tr>
                        <tr>
                            <td>1 Salwar</td>
                             <td>Rs.30 &nbsp; /cloth</td>
                        </tr>
                    </tbody></table>            
                </div>

                <div class="table">
                    <table class="price">
                    <colgroup>
                        <col width="65%">
                        <col width="35%">
                    </colgroup>
                        <tbody><tr>
                            <th colspan="2">Dry Cleaning</th>
                        </tr>
                        <tr>
                            <td>Suits</td>
                            <td>Rs. 300 &nbsp; /cloth</td>
                        </tr>
                        <tr>
                            <td>Saree</td>
                            <td>Rs. 200 &nbsp; /cloth</td>
                        </tr>
                        <tr>
                            <td>Shirt/Trouser</td>
                            <td>Rs. 70 &nbsp; /cloth</td>
                        </tr>
                    </tbody></table>
                </div>



</div>




 <div id="testimonials" class="container">
    <h3><img class="hanger" src='/static/web-images/hanger-small.png' title="Mywash - wash and iron service" alt="Mywash dry cleaning service India">Testimonials</h3>
 	<div id="clients-list"> 

 		<ul>
 	<li class="four columns  id-testimonials">
 		<div class="user-comment">
			If a company has taken over the Industry with Images and Maps effectively thats
			<a class="link" data-bypass="true" target="_blank" rel="nofollow" href="http://twitter.com/Housing" title="Happy user of Housing.com">@Housing</a>
			<a class="tweet-link" data-bypass="true" target="_blank" rel="nofollow" href="https://twitter.com/Sandeepdesto/status/454128684358594560" title="Happy user after seeing images of properties on Housing.com"></a>
			<span class="arrow-down"></span>
		</div>

		<div class="user-description">
			<img src="https://m.ak.fbcdn.net/profile.ak/hprofile-ak-xpa1/v/t1.0-1/c17.0.48.48/p48x48/10659152_847878391977452_4929750200395110471_n.jpg?oh=92dc34ba7365c6df3fb740092811e62f&amp;oe=54F562C7&amp;__gda__=1421657646_1d7f95a354b903c2d692e8cd6ee07f02">
			<div class="pull-left user-detail">
				<div class="user-name">
				Sandeep
				</div>
				<div class="user-add">
					<i class="icon-twitter"></i>
					<a class="link" data-bypass="true" target="_blank" rel="nofollow" href="http://twitter.com/@Sandeepdesto" title="Happy user of Housing.com">@Sandeepdesto</a>
				</div>
			</div>
		</div>
	</li><!-- four columns -->	  


	 	<li class="four columns  id-testimonials">
 		<div class="user-comment">
			If a company has taken over the Industry with Images and Maps effectively thats
			<a class="link" data-bypass="true" target="_blank" rel="nofollow" href="http://twitter.com/Housing" title="Happy user of Housing.com">@Housing</a>
			<a class="tweet-link" data-bypass="true" target="_blank" rel="nofollow" href="https://twitter.com/Sandeepdesto/status/454128684358594560" title="Happy user after seeing images of properties on Housing.com"></a>
			<span class="arrow-down"></span>
		</div>

		<div class="user-description">
			<img src="https://m.ak.fbcdn.net/profile.ak/hprofile-ak-xpa1/v/t1.0-1/c17.0.48.48/p48x48/10659152_847878391977452_4929750200395110471_n.jpg?oh=92dc34ba7365c6df3fb740092811e62f&amp;oe=54F562C7&amp;__gda__=1421657646_1d7f95a354b903c2d692e8cd6ee07f02">
			<div class="pull-left user-detail">
				<div class="user-name">
				Sandeep
				</div>
				<div class="user-add">
					<i class="icon-twitter"></i>
					<a class="link" data-bypass="true" target="_blank" rel="nofollow" href="http://twitter.com/@Sandeepdesto" title="Happy user of Housing.com">@Sandeepdesto</a>
				</div>
			</div>
		</div>
	</li><!-- four columns -->	  




	 	<li class="four columns  id-testimonials">
 		<div class="user-comment">
			If a company has taken over the Industry with Images and Maps effectively thats
			<a class="link" data-bypass="true" target="_blank" rel="nofollow" href="http://twitter.com/Housing" title="Happy user of Housing.com">@Housing</a>
			<a class="tweet-link" data-bypass="true" target="_blank" rel="nofollow" href="https://twitter.com/Sandeepdesto/status/454128684358594560" title="Happy user after seeing images of properties on Housing.com"></a>
			<span class="arrow-down"></span>
		</div>

		<div class="user-description">
			<img src="https://m.ak.fbcdn.net/profile.ak/hprofile-ak-xpa1/v/t1.0-1/c17.0.48.48/p48x48/10659152_847878391977452_4929750200395110471_n.jpg?oh=92dc34ba7365c6df3fb740092811e62f&amp;oe=54F562C7&amp;__gda__=1421657646_1d7f95a354b903c2d692e8cd6ee07f02">
			<div class="pull-left user-detail">
				<div class="user-name">
				Sandeep
				</div>
				<div class="user-add">
					<i class="icon-twitter"></i>
					<a class="link" data-bypass="true" target="_blank" rel="nofollow" href="http://twitter.com/@Sandeepdesto" title="Happy user of Housing.com">@Sandeepdesto</a>
				</div>
			</div>
		</div>

	</li><!-- four columns -->	  





</ul>
	
 </div>

 </div><!-- @end #testimonials -->
      



<div id="celebrity">

	<div class="container">

		

		<div class="eight columns alpha">

			<img id="logo" src="/static/web-images/logo.png" title="Online Laundry Service At Doorstep" alt="Mywash- Online Laundry Service">
			<h3>Treat your clothes like a celebrity</h3>
			<a href="http://mywash.in/order_schedule" class="button">Schedule a wash</a>

		</div>

		<div id="hero-img" class="eight columns omega">
			<img src="/static/web-images/dress2.png" title="mywash - online dry cleaning bangalore" alt="online dry cleaning service">
		</div>
				
	</div><!-- container -->

</div><!-- celebrity -->

<div id="footer">

	<div class="container">

		<div class="four columns">

			<h4>Company</h4>
			<h5><a href="#">About</a></h5>
			<h5><a href="#">How MyWash works?</a></h5>
			<h5><a href="#">Terstimonials</a></h5>
			<h5><a href="#">Terms & Conditions</a></h5>
			<h5><a href="#">Policy</a></h5>

			<br>
			<br>

			<h4>Phone</h4>
			<h5>9999 8888</h5>

		</div>


		<div class="four columns">

			<h4>Follow us</h4>
			<h5><a href="#">Facebook</a></h5>
			<h5><a href="#">Twitter</a></h5>
			<h5><a href="#">Google Plus</a></h5>
			<h5><a href="#">LinkedIn</a></h5>

		</div>

		<div class="eight columns">

			<a id="mobile-logo" href="#"><img src="/static/web-images/logo.png" title="Online Laundry Service At Doorstep" alt="Mywash- Online Laundry Service"></a>
			<h4>MyWash.in - Online Laundry & Dry cleaning India</h4>
			<p>MyWash.in is the best online laundry service & online dry washing service in India. MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash.in is simply the best laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand. MyWash.in picks up your dirty laundry and dry cleaning, and returns them clean, ironed, and folded within about a day.</p>

			<p>Through MyWash app you can place an order on your phone or tablet, including pickup and drop-off time scheduling. A MyWash agent will arrive at the time you scheduled to pick up your laundry and dry cleaning, and within 48-72 hours your clothes are delivered in reusable non-plastic bags, washed and folded. MyWash.in is the online laundry service, online dhobi, awesome laundry service, one-stop laundry center, laundry app, dry cleaning service, laundry & dry cleaning service, you have been waiting for. We are currently providing our online laundry & dry cleaning service in Bangalore - Koramangala, HSR, BTM, Bellandur, Domlur, Indiranagar (stretch), Bannerghatta / J.P Nagar (stretch), Adugodi, & Ejipura.

</p>

		</div>


	</div>

</div>
	<script type="text/javascript" src="js/mywash.js"></script>

<!-- End Document
================================================== -->
</body>
</html>
