<!--    

 <div id="testimonials" class="container">
    <h3><img class="hanger" src='/static/web-images/hanger-small.png' title="Mywash - wash and iron service" alt="Mywash dry cleaning service India">Testimonials</h3>
  <div id="clients-list"> 

    <ul>
  <li class="four columns  id-testimonials">
    <div class="user-comment">
      My weekends are now more around shopping clothes and less around washing them. Thank you 
     <a class="link" data-bypass="true" target="_blank" rel="nofollow" href="http://twitter.com/mywashapp" title="Happy user of MyWash">@mywashapp</a>
       <a class="tweet-link" data-bypass="true" target="_blank" rel="nofollow" href="#" title="Happy user after using MyWash for laundry and Dry Cleaning"></a>
      <span class="arrow-down"></span>
    </div>

    <div class="user-description">
      <img src="https://c2.staticflickr.com/6/5609/14933717274_4a4435579b_m.jpg">
      <div class="pull-left user-detail">
        <div class="user-name">
        
        </div>
        <div class="user-add">
          <i class="icon-twitter"></i>
          <a class="link" data-bypass="true" rel="nofollow" href="#" title="Happy user after using MyWash for laundry and Dry Cleaning">Navya </br><small>IT Professional, Koramangala</small></a>
        </div>
      </div>
    </div>
  </li>

  


    <li class="four columns  id-testimonials">
          <div class="user-comment">

        Wonderful first experience with @mywashapp. Easy pick-up & drop-off, great customer service :) 
<!--       <a class="link" data-bypass="true" target="_blank" rel="nofollow" href="http://twitter.com/mywashapp" title="Happy user of MyWash">@mywashapp</a>
 -->      <a class="tweet-link" data-bypass="true" target="_blank" rel="nofollow" href="https://twitter.com/Sandeepdesto/status/454128684358594560" title="Happy user after seeing images of properties on Housing.com"></a>
      <span class="arrow-down"></span>
    </div>

    <div class="user-description">
      <img src="https://c2.staticflickr.com/6/5608/15555311892_38abbc4ed5_m.jpg">
      <div class="pull-left user-detail">
        <div class="user-name">
        
        </div>
        <div class="user-add">
          <i class="icon-twitter"></i>
            <a class="link" data-bypass="true"  rel="nofollow" href="#" title="Happy user after using MyWash for laundry and Dry Cleaning">Sarat Chandra </br><small>IT Professional, Indira Nagar</small></a>
        </div>
      </div>
    </div>
  </li><!-- four columns -->    




    <li class="four columns  id-testimonials">
    <div class="user-comment">
      MyWash is the laundry solution for all the lazy people out there like me. Definitely recommend.
<!--       <a class="link" data-bypass="true" target="_blank" rel="nofollow" href="http://twitter.com/mywashapp" title="Happy user of MyWash">@mywashapp</a>
 -->      <a class="tweet-link" data-bypass="true" rel="nofollow" href="https://twitter.com/Sandeepdesto/status/454128684358594560" title="Happy user after using MyWash for laundry and Dry Cleaning"></a>
      <span class="arrow-down"></span>
    </div>

    <div class="user-description">
      <img src="https://c2.staticflickr.com/4/3952/15368841210_d01e5c670d_m.jpg">
      <div class="pull-left user-detail">
        <div class="user-name">
        
        </div>
        <div class="user-add">
          <i class="icon-twitter"></i>
         <a class="link" data-bypass="true" target="_blank" rel="nofollow" href="#" title="Happy user of MyWash">Rajesh </br><small>MBA Student, Koramangala</small></a>        </div>
      </div>
    </div>

  </li><!-- four columns -->    





</ul>
  
 </div>

 </div><!-- @end #testimonials -->
      

