<form method="post" class="form-horizontal js-contact-form js-track-analytics js-replace-form js-write-permission" onsubmit="return false;"  action="/profile/contact/edit" data-getperm="{% if user.write_permission == false %}true{% endif %}">
	<fieldset>
		<div class="form-group">
			<label class="col-md-2 control-label" for="contact_email">Email:</label>
			<div class="col-md-9">
				<input class="form-control" type='email' value="{{ contact.email.0 }}"
					   id="contact_email" name="email" maxlength="255"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="contact_mobile">Mobile:</label>
			<div class="col-md-9">
				<input class="form-control" value="{{ contact.mobile.0 }}" type="tel"
					pattern='[0-9+-]{10,15}' data-patternmismatch="Enter a valid Mobile No."
					 id="contact_mobile" name="mobile" maxlength="255"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="contact_website">Website:</label>
			<div class="col-md-9">
				<div class="input-group">
				  <span class="input-group-addon"><small>http://</small></span>
				  <input class="form-control" type='text' value="{{ contact.website.0 }}"
					id="contact_website" name="website" maxlength="255"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label" for="contact_twitter">Twitter Handle:</label>
			<div class="col-md-9">
				<div class="input-group">
				  <span class="input-group-addon">@</span>
				  <input class="form-control" type='text' value="{{ contact.twitter }}"
					id="contact_twitter" name="twitter" maxlength="255"/>
				</div>
			</div>
		</div>

		<input class="form-control" type='hidden' name="linkedin" value="{{ contact.linkedin }}"/>
		<input class="form-control" type="hidden" name="address"  value="{{ contact.address }}" />


		<!--<div class="form-group">
			<label class="col-md-2 control-label" for="contact_username">Profile URL:</label>
			<div class="col-md-9 input-group">
			  	<span class="input-group-addon">myparichay.in/profile/</span>
			  	<input type="text"  class="form-control" id="contact_username" required name="username" value="{{ contact.username }}" data-typemismatch="Enter a valid MyParichay Profile URL." maxlength="255"/>
			</div>
		</div>-->

		<div class="form-actions">
			<button type="submit" class="btn btn-primary {% if user.write_permission == false %}hide{% endif %}" >Save</button>&nbsp;&nbsp;
			<a onclick="window.open('{{ JCONSTANTS.FB_PERMISSIONS_URL }}%3F%26submitform%3D.js-write-permission','','width=500,height=500');" class="btn btn-primary js-perm-button {% if user.write_permission != false %}hide{% endif %}">Save</a>
			<button type="button" class="btn js-landing-cancel">Cancel</button>
		</div>
	</fieldset>
</form>