<meta property="og:title" content="Connect on MyParichay" />
<meta property="og:description" content="I am {{ user.name }}. I would like to connect with you professionally.">
<meta property="og:image" content="{{ config.MP_URL }}static/img/pictures/connectedJobs-icon.png">
