{% set show_footer = false %}
{% extends 'layout/modal.jinja' %}

{% block content %}
<div class="js-ajax-replace-wrapper js-row-each">
    <div class="row">
        <ol>
            <li>Why did I receive this request?<br>
                As a user of MyParichay, you can help your friends get in touch with recruiters.
            </li><br>
            <li>How should I treat this information?<br>
                Myparichay does not share information about a job search or an introduction with anyone. Your information is secure with MyParichay.
            </li>
        </ol>
    </div>
</div>
{% endblock content %}