{% set show_footer = false %}
{% extends 'layout/modal.jinja' %}

{% block content %}
<div class="row">
	<div class="col-md-12 partnership-logo-block text-center">
    <img src="{{ partnerimg }}" title="Partnered With MyParichay" />
    <p>&nbsp;</p>
	</div>
</div>
<div>
<p class="tx-13">
   {{ partnername }} has partnered with MyParichay in order to provide you with even more opportunities to build your network and connect with recruiters! MyParichay allows you to leverage the power of your Facebook connections and increase your chances for success. That’s because you have a lot of friends and they have a lot of friends who work for great companies and MyParichay can put these connections to work for you.</p>
<p class="tx-13">
Sign in with MyParichay to apply for this job. MyParichay is completely private and secure.
</p>

</div>
{% endblock content %}