

<img src="/static/img/pictures/introducing-connected-jobs.png" alt="" height="316">

<div class="w-well odd">
	<div class="ovlpopup-q">For freshers and seasoned pros,</div>
	<div>Job boards are frustrating. You apply for dozens of positions, but nobody calls.</div>
</div>
<div class="w-well">
	<div class="ovlpopup-q">For freshers and seasoned pros,</div>
	<div>Job boards are frustrating. You apply for dozens of positions, but nobody calls.</div>
</div>
<div class="w-well odd">
	<div class="ovlpopup-q">For freshers and seasoned pros,</div>
	<div>Job boards are frustrating. You apply for dozens of positions, but nobody calls.</div>
</div>

<div class="offsetheight8 boldlink"> <a href="#">Find your connections, start dialogues, get hired. It works like magic.</a> </div>
<div class="ovlpopup-footer">
	Indexing over 300,000 jobs<br>
	Connecting over 150,000 professionals<br>
	MyParichay keeps your job search private.<br>
</div>
