<div class="panel panel-default" id="home_recommend_jobs">
    <header class="panel-heading">
        <h4 class="pull-left"> Recommended Jobs for You</h4>
        <div class="pull-right"><small><a href="/settings/jobpreferences" id="edit_job_alerts_recommended_jobs" target="_blank">Edit Job Alerts</a></small></div>
    </header>
    <div class="panel-body panel-padding-muted js-autofill js-content"  href="/jobs/recommended/0?view=mini&analytics=off&sub=1" data-loading-selector="none">
        <div class="loader-lg"><i class="glyphicon glyphicon-spinner glyphicon-spin"></i></div>
    </div>
    <footer class="panel-footer">
        <div class="pull-right"><a href="/jobs/recommended/0" role="link" class="link js-main-container-link" data-menu-item="{{ constants.MENU_ITEMS.JOB }}">View All</a></div>
    </footer>
</div>