<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
        <td bgcolor="#fff">
            
            <table width="" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#68c1ec" style="background:#68c1ec;margin-bottom: 30px;">
                <tbody>
                    <tr>
                        <td valign="top"><a href="http://mywash.in" target="_blank">
                          <img border="0" style="margin:0px;padding:0px;display:block" src="https://c4.staticflickr.com/4/3936/15582323756_7bb8c7609a_z.jpg" alt="MyWash"></a></td>
                    </tr>
                </tbody>
            </table>

<table width="581" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff" style="border-bottom: 1px solid #E1E1E1;margin-bottom: 30px;">
                <tbody>
                    <tr>
                        <td valign="top" style="font-family:Helvetica,Arial,sans-serif">
                        <table cellpadding="0" cellspacing="0" width="100%" style="background: #fff;">
                            <tbody>
                                <tr>
                                    <td style="padding-bottom:10px">
                                        <h2 style="font-size:22px;font-weight:bold; color: #666666; font-family: 'Myriad Pro','Arial',sans-serif;  font-weight: 300;     ">  <span class="il">Dear</span> {{emails.user}},</h2>
                                    </td>
                                </tr>
                                

<tr>
                                    <td style="color: #666666;font-size: 16px;padding-bottom: 25px;font-family: 'Myriad Pro','Arial',sans-serif;font-weight: 300;text-align: justify;line-height: 25px;">We had just launched a few days back and the response has been tremendous and we are overwhelmed by your kindness. Since our launch we have been getting about 4 orders every day but yesterday we got 27 orders and 7 more were scheduled for today. The order numbers are still small but we are overwhelmed. Thank you for making our diwali special. We will do our best in keeping your clothes clean and make your everyday special.
                                    </td>
                                </tr>

<tr>
                                    <td style="color: #666666;font-size: 16px;padding-bottom:17px;font-family: 'Myriad Pro','Arial',sans-serif;font-weight: 300;font-weight: 2;">Wishing you &amp; your family a happy diwali and less laundry.
                                    </td>
                                </tr><tr>
                                    <td style="color: #666666;font-size: 16px;padding-bottom:17px;font-family: 'Myriad Pro','Arial',sans-serif;font-weight: 300;font-weight: 2;">Regards, <br> Silus &amp; Balaji <br> Team MyWash</td>
                                </tr>
                                

                            </tbody>
                        </table>
                        </td>
                    </tr>            
                </tbody>
            </table>
     



<table width="581" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;margin-bottom: 50px;border-bottom: 1px solid #E1E1E1;padding-bottom: 20px;">

<tbody>
<tr>
  <td style="text-align:center;font-size:18px;color: #666666; font-size: 16px; padding-bottom: 17px; font-family: 'Myriad Pro','Arial',sans-serif; font-weight: 300;">Have to do your laundry?</td>
</tr>
<tr><td style="
    text-align: center;  color: #666666; font-size: 16px;  font-family: 'Myriad Pro','Arial',sans-serif; font-weight: 300;
    padding-bottom: 50px;
"><a href="http://mywash.in" target="_blank" style="
    text-align: center;
    margin: 0 auto;
    background: #ff9e48;
    color: #fff;
    padding: 12px 50px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 3px;
">Schedule a Wash</a></td></tr>

</tbody>

</table>




        <table width="581" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;height:30px">

<tbody>
<tr>
  <td style="text-align:center;font-size:18px;color: #666666; font-size: 16px; padding-bottom: 17px; font-family: 'Myriad Pro','Arial',sans-serif; font-weight: 300;">Follow us on</td>
</tr>

</tbody>

</table>


<table width="581" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;height:70px;text-align:center;border-bottom: 1px solid #E1E1E1; margin-bottom: 30px;">
<tbody>

  <tr>
 
 

 <td width="30"></td><td width="30">
 <a href="https://u1437717.ct.sendgrid.net/wf/click?upn=CAKMlXsawrgp3iDEV8663DxudWFb4KXmYYuywcIDYfQ99t-2B01Iy56juVmVK9EkC1_KVdTOizyze6KtxLrkZXaATwUFywy5ZYv9hCqFxGpHKx0SUUQA32fCNZZ2rCTi4kt3ycXchGJjVR-2Fj3NkNFPCBxePtoT4u7k365B1jtpxgETap6GK41Mn8bSENYWHMZu6kH6CmKbabtdoW5BdGTq9-2BtvX37zRDP2m0gDx3nTFD8wN8CGB0lANO251309GdrLViRxXHVT-2FkQ2TQQKBMjo8JQ-3D-3D" style="text-decoration:none" target="_blank">
 <img width="30" height="30" border="0" src="https://ci5.googleusercontent.com/proxy/Wmf0JyvxiCPethD1qgcUp4VfAl1Cc7Ndto4dPrXDw50t4qTqUILvGOGF5yerEcuZP4rCMZf6Z946Q6istxskGoE5=s0-d-e1-ft#http://www.fancystore.biz/email_icons/fb.png" style="text-decoration:none;display:block;outline:none" class="CToWUd">
 </a>
 </td>
 <td style="padding-left:6px;padding-right:20px;font-family:helvetica neue,helvetica,sans-serif;font-weight:lighter;font-size:14px;letter-spacing:2px;text-align:left">
 <a href="https://u1437717.ct.sendgrid.net/wf/click?upn=CAKMlXsawrgp3iDEV8663DxudWFb4KXmYYuywcIDYfQ99t-2B01Iy56juVmVK9EkC1_KVdTOizyze6KtxLrkZXaATwUFywy5ZYv9hCqFxGpHKx0SUUQA32fCNZZ2rCTi4ktu8U2DcFoR2SrpOqEck6gW2GJwTjvv0VSxgTfSlxvLTzdPAYvz0bIMWHv-2Byux754OoVF2KlkSkhBgiiNVREgc9dRUM-2FXydrdimsHF5CmdQwTNc69-2FebaMC8dL3GCmOq-2FW63yD3-2BMiAOXjb8h3SxYZtQ-3D-3D" style="text-decoration:none;color:#ffffff;color:#666666;font-size:16px;padding-bottom:17px;font-family:'Myriad Pro','Arial',sans-serif;font-weight:300" target="_blank">
 Facebook
 </a>
 </td>

 <td width="30">
 <a href="https://u1437717.ct.sendgrid.net/wf/click?upn=CAKMlXsawrgp3iDEV8663NCpx3Ig47APBstR-2F0BNsvduFEbd4R3E6wupY4DNE9IT_KVdTOizyze6KtxLrkZXaATwUFywy5ZYv9hCqFxGpHKx0SUUQA32fCNZZ2rCTi4ktc4bj-2B3OjLvP9LZayFhOGDB9iBHWi3n3YPoFRUA-2B3xyxYm-2Bg4g9kWzVziCGtYtj9Sa2wgXw1uzLs5LImRL6-2FFAfeeogT6rl61ZJk3Kf206A7g11DhxHot0K08SBPv8HPcOV-2B6s1WgigLFiH6WDZ5Ncw-3D-3D" style="text-decoration:none" target="_blank">
 <img width="30" height="30" border="0" src="https://ci3.googleusercontent.com/proxy/OIG_YxKgI3BHcvenLYT-Xomn7_4ukdybSdcqu8eZBOnrS3xeje5KTesloeSBasUJX9HH6kcfoMnkY3KOapn2o4FW=s0-d-e1-ft#http://www.fancystore.biz/email_icons/tw.png" style="text-decoration:none;display:block;outline:none" class="CToWUd">
 </a>
 </td>
 <td style="padding-left:6px;padding-right:20px;font-family:helvetica neue,helvetica,sans-serif;font-weight:lighter;font-size:14px;letter-spacing:2px;text-align:left">
 <a href="https://u1437717.ct.sendgrid.net/wf/click?upn=CAKMlXsawrgp3iDEV8663NCpx3Ig47APBstR-2F0BNsvduFEbd4R3E6wupY4DNE9IT_KVdTOizyze6KtxLrkZXaATwUFywy5ZYv9hCqFxGpHKx0SUUQA32fCNZZ2rCTi4ktR-2BAdvkloLb2JBLHxMHmXUorq9WGHVXOBaQz9-2ByjTFZ1DW8QDFVv89Kv-2FqMUDnfZLPHf2bzoH8mS4PxSZMpCLrxvA6MNhApKh5qYE7I2oOmiIlGL04B6-2FvP88k0Gy3zJMhFVtXEYZkuQzzGXX1NKLdg-3D-3D" style="text-decoration:none;color:#ffffff;color:#666666;font-size:16px;padding-bottom:17px;font-family:'Myriad Pro','Arial',sans-serif;font-weight:300" target="_blank">
 Twitter
 </a>
 </td>

 <td width="30">
 <a href="https://u1437717.ct.sendgrid.net/wf/click?upn=CAKMlXsawrgp3iDEV8663H5k-2FVBZVRdwi-2F7cFn-2Bujzc8XJe-2Fyx7jiedSFGnKPFVuyh8lAIt8gupKF-2F0SGVSyIQ-3D-3D_KVdTOizyze6KtxLrkZXaATwUFywy5ZYv9hCqFxGpHKx0SUUQA32fCNZZ2rCTi4kt3YWFbk9geO-2F2-2BTrG5E4xOvCY8HiUKluM0m3yrw9d31RJ6aYZVWH-2FLVId7IyuURkIqovo5P-2F7-2B5XnppoKsQ3ihR-2Fex7OE0j4R5yKcxjr155Oj1J2H1osytJkQ3jfGmnU3jAuBKjREEf-2BCS-2FIRe-2FPUgw-3D-3D" style="text-decoration:none" target="_blank">
 <img width="30" height="30" border="0" src="https://ci6.googleusercontent.com/proxy/G1XNAGnf5cPSxm43B27kXADVC7y9DkgxP-J2YQrH8P0Ant-bbvhQfLCLJ04FTjOB4V3fwQShlNLPtqj-2ja3mmWZ=s0-d-e1-ft#http://www.fancystore.biz/email_icons/g+.png" style="text-decoration:none;display:block;outline:none" class="CToWUd">
 </a>
 </td>
 <td style="padding-left:6px;padding-right:20px;font-family:helvetica neue,helvetica,sans-serif;font-weight:lighter;font-size:14px;letter-spacing:2px;text-align:left">
 <a href="https://u1437717.ct.sendgrid.net/wf/click?upn=CAKMlXsawrgp3iDEV8663H5k-2FVBZVRdwi-2F7cFn-2Bujzc8XJe-2Fyx7jiedSFGnKPFVuyh8lAIt8gupKF-2F0SGVSyIQ-3D-3D_KVdTOizyze6KtxLrkZXaATwUFywy5ZYv9hCqFxGpHKx0SUUQA32fCNZZ2rCTi4kthWdS26LPDzNyYjPDg7PbzSs21kWaqlNzcKX7cSHsFDZpj-2B4hjBEBIVxCU-2BwFAkzBhcttj1kI7PUpMdZWgWZKY5Og466Vz571X3RrLWKY15uzUF5WgwnT9eUl3XJ3FsmfBkBxGPb8HMHrVcqEe69zow-3D-3D" style="text-decoration:none;color:#ffffff;color:#666666;font-size:16px;padding-bottom:17px;font-family:'Myriad Pro','Arial',sans-serif;font-weight:300" target="_blank">
 Google+
 </a>
 </td>

 </tr>
 </tbody></table>


         <table width="581" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;height:30px">

<tbody>
<tr>
  <td style="text-align:center;font-size:18px;color: #666666; font-size: 16px; padding-bottom: 17px; font-family: 'Myriad Pro','Arial',sans-serif; font-weight: 300;">MyWash Services, Koramangala, Banglore</td>
</tr>

</tbody>

</table>


<table width="581" border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse;height:30px">

<tbody>
<tr>
    
</tr>

</tbody>

</table>
    </td></tr></tbody></table>