<div class="clearfix">
    <div class="swatch">Step 2 of 2</div>
</div>
<br>
<div class="col-md-12">
    <section role="region" aria-labelledby="Welcome_back_heading" class="clearfix">
        <strong>Welcome to MyParichay,</strong> the talent pool on Facebook.
        You're all set up, but you haven't invited all your friends to MyParichay yet. MyParichay analyzes your facebook network and  finds valuable insider connections to top companies. A friend referral can increase your chances of getting your dream job by as much as five times ! Invite your friends now.
    </section>

    <div role="region" aria-label="Invite Friends" class="modal-footer" >
        <a onclick = "window.open('/fbinviteredirect?start=1','', 'width=500,height=250');" class="btn btn-primary btn-lg pull-right js-track-event" role="button" data-category="Invite" data-labels="Splash Popup">
            <span class="btn-divider">
                <i class="glyphicon glyphicon-facebook"></i>
            </span>
            <strong>Invite Friends</strong>
        </a>
    </div>
</div>
