
<h4>
    About this request:
</h4>
<p>
    {{ candidate.name }} came across a <a href="#jobs"> job opening </a> at {{ job.company.name }}, where {{ target.name }} is listed as a current employee.
</p>
<p>
    If possible, {{ candidate.name }} would like to chat with {{ target.name }} about being internally referred for the position.
</p>
<br>
<h4>
    Make the introduction:
</h4>
<p>
     You can make this introduction over <strong>email, facebook, or any method you prefer</strong>.
</p>
<p>
    To start the conversation, you can click the "Introduce" link below. {{ candidate.name }}'s contact information, résumé, and the job description will be attached.  <strong>Be sure to include a personal message, telling {{ target.name }} that you know {{ candidate.name }}</strong>.
</p>
