<h4>{{ referrer.name }},</h4>
{{ candidate.name }} is interested in <a href="#jobs">working at {{ job.company.name }}</a>, which you list as your current employer on facebook.
<br/><br/>
Your mutual friend {{ introducer.name }} has sent you <a href="{{ candidate.resume_url }}" target="_blank">{{ candidate.name }}'s résumé</a>,  and is willing to set up an introductory discussion.
<br/><br/>
If you are open to this request, please let {{ introducer.name }} know.
<br/><br/>
Thanks!