<div class="text-muted">
	<strong>Why did I receive this request?</strong>
	<p>
		As a user of MyParichay, you have the ability to help your friends get in touch with recruiters. If you are not interested you <a href="/settings/subscriptions">Opt out</a>
	</p>
	<strong>How should I treat this information?</strong>
	<p>
		MyParichay does not share information about a job search or an introduction with anyone. Your information is secure with MyParichay.
	</p>
</div>