
<h4>
    About this introduction request:
</h4>
<p>
   {{ recruiter.name }} is a recruiter and is intrested in your friend {{ candidate.name }} for a job opening. Send this job to {{ candidate.name }} by clicking on the button below and help them get connected.
</p>
<br>