<div class="text-muted">
	<strong>Why did I receive this request?</strong>
	<p>
		As a current employee of your organization, you may be able to internally refer a candidate for a job opening. This gives your hiring managers access to known and trusted people and helps the candidate get noticed.	
	</p>

	<strong>How did {{ candidate.name }} find me?</strong>
	<p>
		{{ candidate.name }} used MyParichay's Connected Jobs feature to find his 1st and 2nd degree connections at companies that are hiring. You came up as a 2nd degree connection through {{ introducer.name }}.
	</p>
</div>
