<div class="text-muted">
	<strong>What do I do next?</strong>
	<p>
		<strong>After you send the introductory message and {{ target.name }} tells you she is open to a discussion</strong>, carry this process forward by sending {{ target.name }} an introductory email, with {{ candidate.name }} on CC. This will allow {{ target.name }} and {{ candidate.name }} to carry the conversation forward on their own.
	</p>
	<strong>Why did I receive this request?</strong>
	<p>
		As a mutual friend of {{ target.name }} and {{ candidate.name }}, you may have the ability to introduce them in a professional context.
		If {{ target.name }} decides to refer {{ candidate.name }} to {{ job.company.name }}, {{ 'he' | gender(target.gender) }}  will try to connect {{ 'him' | gender(candidate.gender) }} to hiring managers there. Most companies prefer to hire candidates through trusted referrals.
	</p>
	<strong>How should I treat this information?</strong>
	<p>
		A job search can be a sensitive matter and {{ candidate.name }} has trusted you with his privacy. We suggest that you do not discuss {{ candidate.name }}'s interest in a new job with anybody else, unless you have {{ candidate.name }}'s permission to do so.
	</p>
</div>