{% import 'elements/macros.jinja' as html %}

{% block search_result_block %} {% endblock search_result_block  %}
{% block ajaxcontent %} {% endblock ajaxcontent  %}
{% block jobcontent %} {% endblock jobcontent  %}
{% block jobstabcontent %} {% endblock jobstabcontent  %}
