<title>
    Dealsup 
</title>

<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>



{# CSS and Less  Starts #}
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/static/css/boostrap.css">
    <link rel="stylesheet" href="/static/css/boostrap_responsive.css">
    <!-- Font Awesome styles (icons) -->
    <link rel="stylesheet" href="/static/css/font_awesome.css">
    <!-- Main Template styles -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/mystyles.css">

    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie.css" />
    <![endif]-->

{# CSS and Less  Ends #}


{# only important js starts #}

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/boostrap.min.js"></script>
    <script src="/static/js/nivo_slider.min.js"></script>
    <script src="/static/js/countdown.min.js"></script>
    <script src="/static/js/flexnav.min.js"></script>
    <script src="/static/js/magnific.min.js"></script>
    <script src="/static/js/tweet.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/static/js/gmap3.min.js"></script>
    <script src="/static/js/wilto_slider.min.js"></script>
    <script src="/static/js/mediaelement.min.js"></script>
    <script src="/static/js/fitvids.min.js"></script>
    <script src="/static/js/mail.min.js"></script>

    <!-- Custom scripts -->
    <script src="js/custom.js"></script>
    <script src="js/switcher.js"></script>

{# only important js ends #}