<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MyWash - Clean clothes at the tap of a button</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>


    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/mywash_55c23a5227e76e3b1e86eeb4.css" rel="stylesheet" type="text/css">
    <link href="/static/css/estimator15.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/js/amsul/classic.css" rel="stylesheet" type="text/css">
    <link href="/static/js/amsul/default.date.css" rel="stylesheet" type="text/css">
    <link href="/static/js/amsul/default.time.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/social-likes_flat.css">



<link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>    <link rel="stylesheet" href="/static/css/social-likes_flat.css">

    <!-- for Google -->
     <meta name="description" content="MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash.in is simply the best laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand" />
     <meta name="keywords" content="" />

     <meta name="author" content="" />
     <meta name="copyright" content="" />
     <meta name="application-name" content="" />

     <!-- for Facebook -->
     <meta property="og:title" content="MyWash - Clean clothes at the tap of a button" />
     <meta property="og:image" content="https://c2.staticflickr.com/6/5598/15349058409_c04348f281.jpg" />
     <meta property="og:url" content="www.mywash.in" />
     <meta property="og:description" content="MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash is simply the best laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand" />
     <meta property="og:image:type" content="image/png">
     <meta property="og:image:width" content="850">
     <meta property="og:image:height" content="313">

     <!-- for Twitter -->
     <meta name="twitter:card" content="summary" />
     <meta name="twitter:title" content="MyWash" />
     <meta name="twitter:description" content="MyWash is the easiest way to get your laundry & dry cleaning done in India. We do your laundry and dry cleaning and deliver at just the tap of a button. MyWash is simply the best  laundry & dry cleaning service in India. We provide laundry and dry cleaning services on-demand" />
     <meta name="twitter:image" content="http://c2.staticflickr.com/4/3952/15349058449_5b50b9b007.jpg" />

{% if config.DEBUG %}
<!--google analytics test -->
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    //ga('create', 'UA-61700181-1', 'auto');
    ga('send', 'pageview');

    ga('create', 'UA-61700181-1',{
        'cookieDomain': 'none'
    });// creates cookies for local host

</script>
{% else %}
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55912010-1', 'auto');
      ga('send', 'pageview');

    </script>
{% endif %}

<!-- Google Code for Remarketing Tag -->
<!--
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
-->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 958398878;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/958398878/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>






<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
  _fbq.push(['addPixelId', '619741384794414']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=619741384794414&amp;ev=PixelInitialized" /></noscript>


<script type="text/javascript">
adroll_adv_id = "MUPQRYBEOJGUJNJSRIX5Q2";
adroll_pix_id = "GMQ2YCKLUBDQ5CM3K3F2OM";


(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
   scr.setAttribute('async', 'true');
   scr.type = "text/javascript";
   scr.src = host + "/j/roundtrip.js";
   ((document.getElementsByTagName('head') || [null])[0] ||
    document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
   if(oldonload){oldonload()}};
}());
</script>




<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
    // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
    // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/54eb320b3a84b7f6ce00006c.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>
</head>

