<div id="ember673" class="ember-view">

        <nav class="navbar" role="navigation" data-bindattr-3="3">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <img class="cog" src="./order_files/dropdown-cog-blue@2x.png">
              </button>
              <a class="menu-toggle brand-toggle"><img src="./order_files/sidebar-logo.png"></a>
              <div class="navbar-brand" href="">Place Order</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
<!--
                <li class="hidden-sm">
                  <a id="ember680" class="ember-view" href="https://app.getwashio.com/help/how-washio-works">How Washio Works</a>
                </li> -->


                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">
                      <span class="name">Balaji Ashok Kumar</span>
                      <span class="account-cog"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a id="ember689" class="ember-view" href="https://app.getwashio.com/settings/account">My Account</a></li>
                    <li><a id="ember696" class="ember-view" href="https://app.getwashio.com/settings/addresses">Addresses</a></li>
                    <li><a id="ember703" class="ember-view" href="https://app.getwashio.com/settings/payments">Billing</a></li>
                    <li class="divider"></li>
                    <li><a id="ember710" class="ember-view" href="https://app.getwashio.com/share">Refer a Friend</a></li>
                    <li class="divider"></li>
                    <li><a id="ember711" class="ember-view" href="https://app.getwashio.com/help">Help &amp; Support</a></li>
                    <li><a id="ember712" class="ember-view" href="https://app.getwashio.com/coupon">Redeem Coupon</a></li>
                    <li class="divider"></li>
                    <li><a data-ember-action="4">Log Out</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>